{% load static %}
{% load ins_form_tags %}
<html lang="pt-pt">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="{% static "img/favicon.ico" %}" rel="icon">
    <!--<script type="text/javascript" src={% static "js/all.js" %}></script>!-->
    <!--<link href="{% static "css/all.css" %}" rel="stylesheet">  Overrites next line and some icons disappear !-->
    <link href="{% static "css/solid.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static "dataTables/datatables.min.css" %}>
    <script type="text/javascript" src={% static "dataTables/datatables.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
    <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
    <title>Dia Aberto</title>
    <link href="{% static "css/mycss.css" %}" rel="stylesheet">
    <link href="{% static "css/atividades.320507fe.css" %}" rel="prefetch">
    <link href="{% static "css/colaboradores.2c4c9dc5.css" %}" rel="prefetch">
    <link href="{% static "css/departamentoatividades.11740b86.css" %}" rel="prefetch">
    <link href="{% static "css/inscricao.1e7f0088.css" %}" rel="prefetch">
    <link href="{% static "css/minhasatividades.320507fe.css" %}" rel="prefetch">
    <link href="{% static "css/proporatividade.dbff9dac.css" %}" rel="prefetch">
    <link href="{% static "css/tarefas.91a2a446.css" %}" rel="prefetch">
    <link href="{% static "css/transportes.9d1670f9.css" %}" rel="prefetch">
    <link href="{% static "js/almocos.09b06c28.js" %}" rel="prefetch">
    <link href="{% static "js/atividades.f0c6cdde.js" %}" rel="prefetch">
    <link href="{% static "js/atividades~departamentoatividades~inscricao~minhasatividades~transportes.7db513bd.js" %}"
        rel="prefetch">
    <link href="{% static "js/chunk-1823af82.4d78cc6e.js" %}" rel="prefetch">
    <link href="{% static "js/colaboradores.03a794e1.js" %}" rel="prefetch">
    <link
        href="{% static "js/colaboradores~departamentoatividades~inscricao~proporatividade~tarefas~transportes.38d827a4.js" %}"
        rel="prefetch">
    <link href="{% static "js/configuracao.dddc62e3.js" %}" rel="prefetch">
    <link href="{% static "js/departamentoatividades.8a11ada1.js" %}" rel="prefetch">
    <link href="{% static "js/inscricao.689ad7a7.js" %}" rel="prefetch">
    <link href="{% static "js/inscricoes.a76322c7.js" %}" rel="prefetch">
    <link href="{% static "js/minhasatividades.ecc268e6.js" %}" rel="prefetch">
    <link href="{% static "js/proporatividade.46ad7021.js" %}" rel="prefetch">
    <link href="{% static "js/tarefas.268f7ccd.js" %}" rel="prefetch">
    <link href="{% static "js/transportes.c3d4bfc2.js" %}" rel="prefetch">
    <link href="{% static "css/app.1e506e7f.css" %}" rel="preload" as="style">
    <link href="{% static "css/chunk-vendors.b3e8792f.css" %}" rel="preload" as="style">
    <link href="{% static "js/app.841e44b5.js" %}" rel="preload" as="script">
    <link href="{% static "js/chunk-vendors.63f37e79.js" %}" rel="preload" as="script">
    <link href="{% static "css/chunk-vendors.b3e8792f.css" %}" rel="stylesheet">
    <link href="{% static "css/app.1e506e7f.css" %}" rel="stylesheet">
    <script charset="utf-8" src="{% static "js/chunk-1823af82.4d78cc6e.js" %}"></script>
    <script charset="utf-8"
        src="{% static "js/atividades~departamentoatividades~inscricao~minhasatividades~transportes.7db513bd.js" %}"></script>
    <link rel="stylesheet" type="text" {% static "css" href="{% static "css/minhasatividades.320507fe.css" %}">
    <script charset="utf-8" src="{% static "js/minhasatividades.ecc268e6.js" %}"></script>
    <script charset="utf-8"
        src="{% static "js/colaboradores~departamentoatividades~inscricao~proporatividade~tarefas~transportes.38d827a4.js" %}"></script>
    <link rel="stylesheet" type="text" {% static "css" href=""{% static "css/proporatividade.dbff9dac.css" %}">
    <script charset="utf-8" src="{% static "js/proporatividade.46ad7021.js" %}"></script>
    <link rel="stylesheet" type="text" {% static "css" href="{% static "css/inscricao.1e7f0088.css" %}">
    <script charset="utf-8" src="{% static "js/inscricao.689ad7a7.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <style>
        body,
        html {
            min-height: 100%;
            background-size: cover;
            background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
        }

        * {
            outline: none;
        }

        .tab {
            display: none;
        }

        .dropdown-menu {
            padding: 0px;
            padding-top: 0px;
        }

        .modal-backdrop {
            z-index: -1;
            opacity: 0.5
        }

        .modal-open {
            padding-right: 0px !important;
        }

        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: hidden;
        }
    </style>
</head>

<body><noscript><strong>We're sorry but dia_aberto_frontend doesn't work properly without JavaScript enabled. Please
            enable it to continue.</strong></noscript>
    <div data-v-8716d23a="" id="app">
        <nav data-v-a67fe1ba="" data-v-8716d23a="" role="navigation" aria-label="main navigation" class="navbar"
            style="margin:0%">
            <div class="navbar-brand" style="padding:0%"><a data-v-a67fe1ba="" href="/"
                    class="navbar-item logo router-link-active"><img data-v-a67fe1ba="" alt="Dia Aberto"
                        src="{% static "img/logo-navbar.1a946f02.png" %}"></a><a role="button" aria-label="menu"
                    class="navbar-burger burger"><span aria-hidden="true"></span> <span aria-hidden="true"></span> <span
                        aria-hidden="true"></span></a></div>
            <div class="navbar-menu">
                <div id="nav_0" class="navbar-start" style="display:none;">
                    {% include "navbar-part.html" %}
                </div>
                <div id="nav_4" class="navbar-start" style="display:none;">
                    {% include "navbar-admin.html" %}
                </div>
                <div id="nav_1" class="navbar-start" style="display:none;">
                    {% include "navbar-colab.html" %}
                </div>
                <div id="nav_3" class="navbar-start" style="display:none;">
                    {% include "navbar-dc.html" %}
                </div>
                <div id="nav_2" class="navbar-start" style="display:none;">
                    {% include "navbar-coord.html" %}
                </div>
                <div class="navbar-end">
                    {% if request.session.user_id %}
                    <div data-v-a67fe1ba="" class="navbar-item">
                        <div data-v-a67fe1ba="" class="is-bottom-left is-mobile-modal dropdown ">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <div role="button" aria-haspopup="true" class="dropdown-trigger"><span
                                        data-v-a67fe1ba="" role="button"><button data-v-a67fe1ba="" type="button"
                                            data-badge="{{i}}"
                                            class="button has-badge-rounded has-badge-warning is-text"
                                            style="margin-right: 0.9rem;">
                                            <!----> <span><span data-v-a67fe1ba="" class="icon"><i
                                                        class="mdi mdi-bell mdi-24px"></i></span></span>
                                            <!----></button></span></div>
                            </a>
                            <div class="dropdown-menu">
                                <div role="menu" class="dropdown-content">
                                    <div data-v-a67fe1ba="" role="menuitem" tabindex="0" class="dropdown-item"><strong
                                            data-v-a67fe1ba="">Notificações</strong></div>
                                    <hr data-v-a67fe1ba="" class="dropdown-divider">
                                    {% include "dropdow_noti.html" %}
                                    <a data-v-a67fe1ba="" tabindex="0" class="dropdown-item"
                                        href="{% url "check_not" %}"><u data-v-a67fe1ba="">Ver todas
                                            as notificações</u></a>
                                </div>
                            </div>
                        </div>
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                            <div role="button" aria-haspopup="true" class="dropdown-trigger"><a
                                    href="{% url "profile_edit" request.session.user_id %}"><button data-v-a67fe1ba=""
                                        type="button" class="button is-text" style="margin-right: 0.9rem;">
                                        <!----> <span><span data-v-a67fe1ba="" class="icon"><i
                                                    class="mdi mdi-account-circle mdi-24px"></i></span></span>
                                        <!----></button></a></div>

                            <div class="dropdown-menu" style="display: none;" aria-hidden="true">
                                <div role="list" class="dropdown-content"><a data-v-a67fe1ba="" role="listitem"
                                        tabindex="0" class="dropdown-item is-disabled">Participante Individual</a><a
                                        data-v-a67fe1ba="" role="listitem" tabindex="0" class="dropdown-item">Professor
                                        Secundário</a><a data-v-a67fe1ba="" role="listitem" tabindex="0"
                                        class="dropdown-item is-disabled">Colaborador</a><a data-v-a67fe1ba=""
                                        role="listitem" tabindex="0" class="dropdown-item">Professor Universitário</a><a
                                        data-v-a67fe1ba="" role="listitem" tabindex="0"
                                        class="dropdown-item">Coordenador</a><a data-v-a67fe1ba="" role="listitem"
                                        tabindex="0" class="dropdown-item">Administrador</a></div>
                            </div>
                        </div><a href="{% url "logout" %}"><button data-v-a67fe1ba="" type="button" class="button"><span
                                    class="icon is-small"><i class="mdi mdi-logout-variant"></i></span> <span> Sair
                                </span>
                                <!----></button></a>
                    </div>
                    {% else %}
                    {% if p == 2 or p == 3 %}
                    <div data-v-a67fe1ba="" class="navbar-item">
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                        </div><a href="{% url "register" %}"><button data-v-a67fe1ba="" type="button"
                                class="button"><span class="icon is-small"><i class="mdi mdi-logout-variant"></i></span>
                                <span> Registo
                                </span>
                                <!----></button></a>
                    </div>
                    {% endif %}
                    {% if p == 1 or p == 3 %}
                    <div data-v-a67fe1ba="" class="navbar-item">
                        <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
                        </div><a href="{% url "login" %}"><button data-v-a67fe1ba="" type="button" class="button"><span
                                    class="icon is-small"><i class="mdi mdi-logout-variant"></i></span> <span> Entrar
                                </span>
                                <!----></button></a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </nav>
        <div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold">
            <div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div>
        </div>
        <div data-v-8716d23a="" id="page-content">
            <div data-v-8716d23a="" class="card">
                <div data-v-8716d23a="" class="card-content">
                    <div data-v-8716d23a="" id="top">
                        <nav aria-label="breadcrumbs" class="breadcrumb" style="background-color: white;">
                            <ul>
                                {% block steps %}{% endblock %}
                            </ul>
                        </nav>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer data-v-8716d23a="" class="footer">
            <div data-v-8716d23a="" style="float: left;"> (c) 2020 </div>
            <div data-v-8716d23a="" style="float: right;"> Designed by Grupo 9 </div>
            <div data-v-8716d23a="" style="margin: auto; width: max-content;"> Dia Aberto </div>
        </footer>
    </div>
</body>
<script src="{% static "js/chunk-vendors.63f37e79.js" %}"></script>
<script type="text/javascript">


    var req = "{{request.path}}"
    $(document).ready(function () {
        var els = $(".breadcrumb > ul")
        console.log(els.children().length)
        if (els.children().length == 0) {
            els.hide();
        }
        var resp = $.ajax({
            async: false,
            type: "POST",
            url: "{% url 'user_type' %}",
            data:
            {
                id: "{{request.session.user_id}}",
            },
            success: function (data) {

            }
        }).responseText;

        var type = JSON.parse(resp)['type'];
        var search = "#nav_" + type;
        $(search).show();

    });
</script>
<script type="text/javascript" src="{% static 'js/myscripts.js' %}"></script>
<div class="notices is-top" style="padding-top: 3%;">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div role="alert" class="toast is-dark is-top" aria-hidden="true" style="" id="allert">
        <div>{{message}}</div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<div class="notices is-bottom"></div>
<script src="/js/chunk-vendors.63f37e79.js"></script>
</body>
<script>
    $(document).ready(function () {

        window.setTimeout(function () {
            $(".toast").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2500);

    });
</script>

</html>