<div class="navbar-start">
    <a data-v-a67fe1ba="" href="/atividades" class="navbar-item is-tab router-link"> Atividades
    </a>
    <a data-v-a67fe1ba="" href="/inscricoes" class="navbar-item is-tab router-link"> Inscrições </a>
    <a data-v-a67fe1ba="" href="/transportes" class="navbar-item is-tab router-link"> Transportes </a>
    <a data-v-a67fe1ba="" href="/almocos" class="navbar-item is-tab router-link"> Almoços </a>
    <a data-v-a67fe1ba="" href="/configuracao" class="navbar-item is-tab router-link"> Configuração do Dia Aberto </a>
    <a data-v-a67fe1ba="" href="/asjkashdkjm" class="navbar-item is-tab router-link"> Faculdades e Campus</a>
    <a data-v-a67fe1ba="" href="{% url "profile_list" %}" class="navbar-item is-tab router-link"> Utilizadores </a>
</div>