<div class="navbar-start">
    <a href="{% url 'atividades:consultar_atividades' %}" class="navbar-item">Atividades</a>
    <a href="{% url 'atividades:criar_sala' %}" class="navbar-item">Salas</a>
    <a href="{% url 'atividades:criar_campus' %}" class="navbar-item">Campus</a>
    <a href="{% url 'atividades:criar_uo' %}" class="navbar-item">Unidade Orgânica</a>
    <a href="{% url 'atividades:criar_departamento' %}" class="navbar-item">Departamento</a>
    <a data-v-a67fe1ba="" href="/inscricoes" class="navbar-item is-tab router-link"> Inscrições </a>
    <a data-v-a67fe1ba="" href="/transportes" class="navbar-item is-tab router-link"> Transportes </a>
    <a data-v-a67fe1ba="" href="/almocos" class="navbar-item is-tab router-link"> Almoços </a>
    <a data-v-a67fe1ba="" href="/configuracao" class="navbar-item is-tab router-link"> Configuração do Dia Aberto </a>
    <a data-v-a67fe1ba="" href="{% url 'profile_list' %}" class="navbar-item is-tab router-link"> Utilizadores </a>
</div>