<a data-v-a67fe1ba="" href="/inscricoes" class="navbar-item is-tab router-link">Inscrições </a>
<a data-v-a67fe1ba="" href="/colaboradores" class="navbar-item is-tab router-link"> Colaboradores</a>
<a data-v-a67fe1ba="" href="/tarefas" class="navbar-item is-tab router-link"> Tarefas </a><a data-v-a67fe1ba="" href="{% url "profile_list" %}" class="navbar-item is-tab router-link"> Utilizadores </a></div>
<a href="{% url 'atividades:consultar_atividades_coodernador' %}" class="navbar-item">Atividades do Departamento</a>