<a data-v-a67fe1ba="" href={% url 'inscricao:register' %} class="navbar-item is-tab router-link"> Inscrição Coletiva </a>
<a data-v-a67fe1ba="" href={% url 'inscricao:register_individual' %} class="navbar-item is-tab router-link"> Inscrição Individual </a>
<a data-v-a67fe1ba="" href={% url 'inscricao:consulta' %} class="navbar-item is-tab router-link"> Consultar Inscrição </a>

<script>
    var req = "{{request.path}}"
$(document).ready(function(){
    $('.navbar-start > a').each(function(){
        var redirect = $(this).attr('href');
        if(req == redirect){
            $(this).addClass("router-link-exact-active router-link-active");
        }
    });
});

</script>