<a data-v-a67fe1ba="" href="{% url 'atividades:consultar_atividades' %}" class="navbar-item is-tab router-link">Atividades</a>
<div data-v-a67fe1ba="" class="is-bottom-left is-mobile-modal dropdown ">
    <div role="button" aria-haspopup="true" class="dropdown-trigger">
    <a data-v-a67fe1ba="" class="dropdown-toggle navbar-item is-tab router-link"  data-toggle="dropdown">
        Formularios
    </a>
    
    <div class="dropdown-menu" style="
    margin-top: 0px; margin-left: 10%;
">
        <div role="menu" class="dropdown-content">
        <a href="{% url 'atividades:criar_sala' %}" class="navbar-item">Salas</a>
        <a href="{% url 'atividades:criar_campus' %}" class="navbar-item">Campus</a>
        <a href="{% url 'atividades:criar_uo' %}" class="navbar-item">Unidade Orgânica</a>
        <a href="{% url 'atividades:criar_departamento' %}" class="navbar-item">Departamento</a>
        <a href="{% url 'formularios:cursos' %}" class="navbar-item">Curso</a>
        <a href="{% url 'atividades:criar_paragem' %}" class="navbar-item">Paragem</a>
        </div>
    </div>
</div>
</div>

<a data-v-a67fe1ba="" href="{% url 'inscricao:consulta' %}" class="navbar-item is-tab router-link"> Inscrições </a>
<div data-v-a67fe1ba="" class="is-bottom-left is-mobile-modal dropdown ">
    <div role="button" aria-haspopup="true" class="dropdown-trigger">
    <a data-v-a67fe1ba="" class="dropdown-toggle navbar-item is-tab router-link"  data-toggle="dropdown">
        Configuração do Dia Aberto
    </a>
    
    <div class="dropdown-menu" style="
    margin-top: 0px; 
">
        <div role="menu" class="dropdown-content">
            <a data-v-a67fe1ba="" href="{% url 'menu:transporte-list' %}" class="navbar-item "> Transportes </a>
            <a data-v-a67fe1ba="" href="{% url 'menu:menu_list' %}" class="navbar-item"> Almoços </a>
            <a data-v-a67fe1ba="" href="{% url 'menu:diaaberto_list' %}" class="navbar-item"> Dia Aberto </a>
        </div>
    </div>
</div>
</div>
<a data-v-a67fe1ba="" href="{% url 'profile_list' %}" class="navbar-item is-tab router-link"> Utilizadores </a>
<a data-v-a67fe1ba="" href="{% url 'tarefa_coordenador:consultar_tarefa_admin' %}"arefaprofile_list' %}" class="navbar-item is-tab router-link"> Consultar Tarefas </a>