{% extends "base_template.html" %}
{% load static %}
{% block steps %}
{% endblock %}
{% block content %}
<div data-v-8716d23a="">
    <div class="section">
        <div class="columns">
            <div class="column is-7">
                {% if message %}
                    <h1 class="title has-text-centered">Erro</h1>
                    <h1 class="subtitle is-5 has-text-centered">{{message}}</h1>
                {% else %}
                    <h1 class="title has-text-centered">Erro de acesso</h1>
                    <h1 class="subtitle is-5 has-text-centered"> Não é possivel aceder a esta pagina </h1>
                {% endif %}
                
            </div>
            <div class="column is-4"><img alt="Logo" src="{% static "img/logo-large.17aeec9d.png" %}"></div>
        </div>
    </div>
    <div class="hero is-light">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-8">
                    <p>2019 Dia Aberto por <a>Grupo 9</a></p><small> Contacto de suporte: <a
                            href="">suporte.dia.aberto@ualg.pt</a></small>
                </div>
                <div class="column"><img src="{% static "img/ualg-logo.179a7914.png" %}" alt="Dia Aberto"></div>
                <div class="column is-1"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}