<div data-v-a67fe1ba="" class="navbar-item">
    <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
    </div><a href="register"><button data-v-a67fe1ba="" type="button" class="button"><span
                class="icon is-small"><i class="mdi mdi-logout-variant"></i></span> <span> Registo
            </span>
            <!----></button></a>
</div>
<div data-v-a67fe1ba="" class="navbar-item">
    <div data-v-a67fe1ba="" class="dropdown is-bottom-left is-mobile-modal">
    </div><a href="login"><button data-v-a67fe1ba="" type="button" class="button"><span
                class="icon is-small"><i class="mdi mdi-logout-variant"></i></span> <span> Entrar
            </span>
            <!----></button></a>
</div>