<html>

<head>
    <meta charset="UTF-8">
    <title>Nots</title>
</head>

<body>
    <form method='POST'>
        {% csrf_token %}
        <h2>Notificacoes</h2>
        <table border="1" width="600">
            <tr>
                <td>ID_UTILIZADOR</td>
                <td>DESCRICAO</td>
                <td>Apagar</td>
            </tr>

            {% for not in form %}
            <tr>
                <td>{{ not.utilizadorrecebe }}</td>
                <td>{{ not.descricao }}</td>

                <td> <input type="checkbox" id="{{forloop.count}}" name="nots" value="{{not.descricao}}"> </td>
            </tr>
            {% endfor %}
        </table>
        <p></p>
        <input type="submit" value="Eliminar">
    </form>

</body>