appdirs==1.4.3
asgiref==3.2.3
cffi==1.14.0
cheroot==8.3.0
CherryPy==18.5.0
cryptography==2.9.2
cssselect==1.1.0
distlib==0.3.0
Django==3.0.7
django-appconf==1.0.4
django-crispy-forms==1.9.1
django-cryptography==1.0
django-filter==2.1.0
django-filters==0.2.1
django-pyvows==0.6.2
django-tinymce4-lite==1.7.5
djangorestframework==3.11.0
djangorestframework-filters==0.11.1
filelock==3.0.12
gevent==1.5.0
greenlet==0.4.15
httplib2==0.17.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
jsmin==2.2.2
lxml==4.5.0
more-itertools==8.2.0
mysqlclient==1.4.6
Pillow==7.1.2
portend==2.6
preggy==1.4.4
pycparser==2.20
pytz==2019.3
pyVows==3.0.0
pywin32==227
selenium==3.141.0
six==1.14.0
sqlparse==0.3.0
tempora==3.0.0
Unidecode==1.1.1
urllib3==1.25.8
virtualenv==20.0.7
zc.lockfile==2.0
