<tr class="" scope="row">
    
    <td data-label="Nome" class=""> {{user.nome}}
    </td>
    <td data-label="Nome" class=""> {{user.email}}
    </td>
    <td data-label="Nome" class=""> {{user.UO}}
    </td>
    <td data-label="Nome" class="">{{user.cargo}}</td>



    <td data-label="Estado" class="form-group ">
        {% if funcao == "administardor" %}{% if user.cargo == "Colaborador" %}
        {% if user.estado == 'Pendente' %}
        <span class="tag" style="background-color: grey;color: white; width: 7rem; font-size: small;" disabaled><i
            class="mdi mdi-block-helper mdi-18px"></i>
        </span></td>
        {% else %}
        <span class="tag is-success"
        style="width: 7rem; font-size: small;"> {{user.estado}}
    </span></td>
    {% endif %}
    {% elif user.cargo == "Docente Universitario" %}
    {% if user.estado == 'Pendente' %}
    <span class="tag" style="background-color: grey;color: white; width: 7rem; font-size: small;" disabaled><i
        class="mdi mdi-block-helper mdi-18px"></i>
    </span></td>
    {% else %}
    <span class="tag is-success"
    style="width: 7rem; font-size: small;"> {{user.estado}}
</span></td>
{% endif %}
    {% elif user.estado == 'Pendente' %}
    {% include "validacao.html" %}
    {% else %}
    <span {% if user.estado == 'Validado' %}class="tag is-success" {% else %}class="tag is-danger" {% endif %}
        style="width: 7rem; font-size: small;"> {{user.estado}}
    </span></td>
    {% endif %} 
    {% elif funcao == "Coordenador" %}
    {% if user.estado == 'Pendente' %}
    {% include "validacao.html" %}
    {% else %}
    <span {% if user.estado == 'Validado' %}class="tag is-success" {% else %}class="tag is-danger" {% endif %}
        style="width: 7rem; font-size: small;"> {{user.estado}}
    </span></td>
    {% endif %}
    {% endif %}

    <td data-label="Ações" class="has-text-centered">
        {% if funcao == "administardor" %}<a role="button" data-toggle="modal"
            data-target="#{{ forloop.counter }}"><span class="icon has-text-danger"><i
                    class="mdi mdi-close-box mdi-24px"></i></span></a>{% endif %}
        <a role="button" data-toggle="modal"
        data-target="#{{ forloop.counter }}_"><span class="icon has-text-success"><i
                    class="mdi mdi-account-search mdi-24px"></i></span></a>
        {% if funcao == "administardor" %}
        <a role="button" href="{% url "profile_edit" user.no_enc %}"><span class="icon has-text-success"><i
                    class="mdi mdi-pencil mdi-24px"></i></span></a>{% endif %}</td>