{% extends "profile_modify.html" %}
{% block content2 %}
<form method="POST">
    {% csrf_token %}
    <div class="column is-offset-3 is-6">
        <div class="field"><label class="" for={{form.name.id_for_label}} aria-label="breadcrumbs">Nome</label>
            <div class="control is-clearfix"><input type="text" name="name" id={{form.name.id_for_label}} class="input"
                    value={{nome}} disabled><input type="hidden" name="name" id={{form.name.id_for_label}} class="input"
                    value={{nome}} >
            </div>
        </div>
        <div class="field"><label class="" for={{form.email.id_for_label}}>Email</label>
            <div class="control is-clearfix"><input type="email" name="email" id={{form.email.id_for_label}}
                    class="input" value="{{email}}" disabled><input type="hidden" name="email" id={{form.email.id_for_label}}
                    class="input" value="{{email}}" >
            </div>
        </div>
        <div class="field"><label class="" for={{form.telefone.id_for_label}}>Telefone/Telemovel</label>
            <div class=" control is-clearfix"><input type="tel" id={{form.telefone.id_for_label}} name="telefone"
                    class="input" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" value={{telefone}} disabled><input type="hidden" id={{form.telefone.id_for_label}} name="telefone"
                    class="input" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" value={{telefone}} >
            </div>
        </div>
        {% if funcao %}
        <div class="field"><label class="" for={{form.funcao.id_for_label}}>Função</label>
            <div class=" control is-clearfix"><input type="text" id={{form.funcao.id_for_label}} name="funcao"
                    class="input" value={{funcao}} disabled><input type="hidden" id={{form.funcao.id_for_label}} name="funcao"
                    class="input" value={{funcao}}>
            </div>
        </div>
        {% endif %}
        {% if UO %}
        <div class="field"><label class="" for={{form.UO.id_for_label}}>Unidade Organica</label>
            <div class=" control is-clearfix"><input type="text" id={{form.UO.id_for_label}} name="UO" class="input"
                    value={{UO}} disabled><input type="hidden" id={{form.UO.id_for_label}} name="UO" class="input"
                    value={{UO}} >
            </div>
        </div>
        {% endif %}
        {% if curso %}
        <div class="field"><label class="" for={{form.curso.id_for_label}}>Curso</label>
            <div class=" control is-clearfix"><input type="text" id={{form.curso.id_for_label}} name="curso" class="input"
                    value={{curso}} disabled>
                    <input type="hidden" id={{form.curso.id_for_label}} name="curso" class="input"
                    value={{curso}} >
            </div>
        </div>
        {% endif %}
        {% if ano %}
        <div class="field"><label class="" for={{form.ano.id_for_label}}>Ano</label>
            <div class=" control is-clearfix"><input type="text" id={{form.ano.id_for_label}} name="ano" class="input"
                    value={{ano.ano}} disabled>
                    <input type="hidden" id={{form.ano.id_for_label}} name="ano" class="input"
                    value={{ano.ano}} >
            </div>
        </div>
        {% endif %}
        {% if dep %}
        <div class="field"><label class="" for={{form.dep.id_for_label}}>Departamento</label>
            <div class=" control is-clearfix"><input type="text" id={{form.dep.id_for_label}} name="dep" class="input"
                    value={{dep}} disabled><input type="hidden" id={{form.dep.id_for_label}} name="dep" class="input"
                    value={{dep}} >
            </div>
        </div>
        {% endif %}
    </div>
    <hr>
    </div>
    </div>
    </section>
    <div class="column is-8 is-offset-2">
        <div class="level">
            <div class="level-left"><a href=".." class="button is-outlined" type="button">
                    <!----> <span> Anterior </span>
                    <!----></a></div>
        </div>
    </div>
    </div>
    </div>
    {% endblock content2 %}