{% extends "base_template.html" %}
{% block steps %}
<li><a href="{% url "blog:blog-home" %}" class="router-link-active">Início</a></li>
{% if request.session.user_id != id %}
<li><a href="{% url "profile_list" %}" class="router-link-active">Utilizadores</a></li>
{% endif %}
<li class="is-active"><a href="" class="router-link-exact-active router-link-active">Perfil</a></li>
{% endblock %}

{% block content %}
<div style="padding: 3rem 2vw 1rem;">
    <div class="b-steps">
        <nav class="steps is-success">
            <ul class="step-items">
                <li class="step-item is-success is-active"><a class="step-link">
                        <div class="step-marker"><span class="icon"><i class="mdi mdi-book mdi-24px"></i></span></div>
                        <div class="step-details"><span class="step-title">Perfil</span>
                        </div>
                    </a></li>
            </ul>
        </nav>
        <section class="step-content">
            <div class="step-item">
                <div style="padding: 1rem 2vw 0px;">
                    <hr>
                    {% block content2 %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="column is-offset-3 is-6">
                            <br>
                            {% if form.name.errors %}
                            <div class="field"><label class="" for={{form.name.id_for_label}}>Nome</label>
                                <div class="control has-icons-right"><input type="text" name="name"
                                        id={{form.name.id_for_label}} autocomplete="on" class="input is-danger">
                                    <!----> <span class="icon is-right has-text-danger"><i
                                            class="mdi mdi-alert-circle mdi-24px"></i></span>
                                    <!---->
                                </div>
                                <p class="help is-danger">Preencha este campo.</p>
                                {% else %}
                                <div class="field"><label class="" for={{form.name.id_for_label}}
                                        aria-label="breadcrumbs">Nome</label>
                                    <div class="control is-clearfix"><input type="text" name="name"
                                            value="{{form.name.value|default_if_none:nome}}"
                                            id={{form.name.id_for_label}} class="input">
                                    </div>
                                </div>
                                {% endif %}
                                {% if form.email.errors or error1 %}
                                <div class="field"><label class="" for={{form.email.id_for_label}}>Email</label>
                                    <div class="control has-icons-right"><input type="email" name="email"
                                            id={{form.email.id_for_label}}
                                            value="{{email|default_if_none:form.email.value}}" autocomplete="on"
                                            class="input is-danger">
                                        <!----> <span class="icon is-right has-text-danger"><i
                                                class="mdi mdi-alert-circle mdi-24px"></i></span>
                                        <!---->
                                    </div>
                                    <p class="help is-danger">{{error1}}</p>
                                    {% else %}
                                    <div class="field"><label class="" for={{form.email.id_for_label}}>Email</label>
                                        <div class="control is-clearfix"><input type="email" name="email"
                                                id={{form.email.id_for_label}}
                                                value="{{form.email.value|default_if_none:email}}" class="input">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if form.telefone.errors  or error4 %}
                                    <div class="field"><label class=""
                                            for={{form.telefone.id_for_label}}>Telefone/Telemovel</label>
                                        <div class="control has-icons-right"><input type="text" name="telefone"
                                                id={{form.telefone.id_for_label}} autocomplete="on"
                                                class="input is-danger" pattern="[0-9]{3}[0-9]{3}[0-9]{3}">
                                            <!----> <span class="icon is-right has-text-danger"><i
                                                    class="mdi mdi-alert-circle mdi-24px"></i></span>
                                            <!---->
                                        </div>
                                        <p class="help is-danger">{{error4}}</p>
                                        {% else %}
                                        <div class="field"><label class=""
                                                for={{form.telefone.id_for_label}}>Telefone/Telemovel</label>
                                            <div class="control is-clearfix"><input type="tel"
                                                    id={{form.telefone.id_for_label}} name="telefone" class="input"
                                                    value="{{form.telefone.value|default_if_none:telefone}}"
                                                    pattern="[0-9]{3}[0-9]{3}[0-9]{3}">
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.funcao.value or funcao %}
                                        <div class="field"><label class=""
                                                for={{form.funcao.id_for_label}}>Função</label>
                                            <div class=" control is-clearfix"><input type="text"
                                                    id={{form.funcao.id_for_label}} name="funcao" class="input"
                                                    value="{{form.funcao.value|default_if_none:funcao}}" disabled>
                                                <input type="hidden" id={{form.funcao.id_for_label}} name="funcao"
                                                    class="input" value="{{form.funcao.value|default_if_none:funcao}}">
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.UO.value or UO %}
                                        <div class="field"><label class="" for={{form.UO.id_for_label}}>Unidade
                                                Organica</label>
                                            <div class=" control is-clearfix"><input type="text"
                                                    id={{form.UO.id_for_label}} name="UO" class="input"
                                                    value="{{form.UO.value|default_if_none:UO}}" disabled>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.dep.value or dep %}
                                        <div class="field"><label class=""
                                                for={{form.dep.id_for_label}}>Departamento</label>
                                            <div class=" control is-clearfix"><input type="text"
                                                    id={{form.dep.id_for_label}} name="dep" class="input"
                                                    value={{form.dep.value|default_if_none:dep}} disabled>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.curso.value or curso %}
                                        <div class="field"><label class="" for={{form.curso.id_for_label}}>Curso</label>
                                            <div class=" control is-clearfix"><input type="text"
                                                    id={{form.curso.id_for_label}} name="curso" class="input"
                                                    value="{{form.curso.value|default_if_none:curso}}" disabled>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.ano.value or ano %}
                                        <div class="field"><label class="" for={{form.ano.id_for_label}}>Ano</label>
                                            <div class=" control is-clearfix"><input type="text"
                                                    id={{form.ano.id_for_label}} name="ano" class="input"
                                                    value="{{form.ano.value|default_if_none:ano}}" disabled>
                                                <input type="hidden" id={{form.ano.id_for_label}} name="ano"
                                                    class="input" value="{{form.ano.value|default_if_none:ano}}">
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <hr>
                                </div>
                            </div>
        </section>
        <div class="column is-8 is-offset-2">
            <div class="level">

                <div class="level-left"><a {% if me == id %} href=".." {% else %} href="{% url "profile_list" %}"
                        {% endif %} class="button is-outlined" type="button">
                        <!----> <span> Cancelar </span>
                        <!----></a></div>
                <div class="level-right"><button type="button" class="button is-large is-success is-outlined"
                        data-toggle="modal" data-target="#exampleModal">
                        <!----> <span>Submeter</span>
                        <!----></button></div>
            </div>
        </div>
    </div>
</div>
<div class="dialog modal" id="exampleModal">
    <div class="modal-background"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="modal-card animation" style="max-width:360px">
        <!---->
        <section class="modal-card-body is-titleless">
            <div class="media">
                <!---->
                <div class="media-content">
                    <p>Tem a certeza que quer realizar a alteração?</p>
                    <!---->
                </div>
            </div>
        </section>
        <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                Cancelar
            </button> <button class="button is-success" type="submit" name="sub" value="1">
                Confirmar
            </button></footer>
    </div>
</div>
</form>
{% endblock content2 %}
{% endblock content %}