{% extends "base_template.html" %}
{% block steps %}
<li><a href="{% url "blog:blog-home" %}" class="router-link-active">Início</a></li>
<li class="is-active"><a href="" class="router-link-exact-active router-link-active">Registar</a></li>
{% endblock %}
{% block content %}

<head>
    <style>
        #hidden_div {
            display: none;
        }

        #hidden_div2 {
            display: none;
        }

        #hidden_div3 {
            display: none;
        }
    </style>
</head>

<div style="padding: 3rem 2vw 1rem;">
    <div class="b-steps">
        <nav class="steps is-success">
            <ul class="step-items">
                <li class="step-item is-success is-active"><a class="step-link">
                        <div class="step-marker"><span class="icon"><i class="mdi mdi-book mdi-24px"></i></span></div>
                        <div class="step-details"><span class="step-title">Registar</span>
                        </div>
                    </a></li>
            </ul>
        </nav>
        <section class="step-content">
            <div class="step-item" style="">
                <div style="padding: 1rem 2vw 0px;">
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="column is-offset-3 is-6">
                            {% if form.name.errors %}
                            <div class="field">
                                <p class="" for={{form.name.id_for_label}}>Nome</p>
                                <div class="control has-icons-right"><input type="text" name="name"
                                        id={{form.name.id_for_label}} autocomplete="on" class="input is-danger">
                                    <!----> <span class="icon is-right has-text-danger"><i
                                            class="mdi mdi-alert-circle mdi-24px"></i></span>
                                    <!---->
                                </div>
                                <p class="help is-danger">Preencha este campo.</p>
                                {% else %}
                                <div class="field">
                                    <p class="" for={{form.name.id_for_label}} aria-label="breadcrumbs">
                                        Nome</p>
                                    <div class="control is-clearfix"><input type="text" name="name"
                                            value="{{form.name.value|default_if_none:""}}" id={{form.name.id_for_label}}
                                            class="input">
                                    </div>
                                </div>
                                {% endif %}
                                {% if form.email.errors or error1 %}
                                <div class="field">
                                    <p class="" for={{form.email.id_for_label}}>Email</p>
                                    <div class="control has-icons-right"><input type="email" name="email"
                                            id={{form.email.id_for_label}} autocomplete="on" class="input is-danger">
                                        <!----> <span class="icon is-right has-text-danger"><i
                                                class="mdi mdi-alert-circle mdi-24px"></i></span>
                                        <!---->
                                    </div>
                                    <p class="help is-danger">{{error1}}</p>
                                    {% else %}
                                    <div class="field">
                                        <p class="" for={{form.email.id_for_label}}>Email</p>
                                        <div class="control is-clearfix"><input type="email" name="email"
                                                id={{form.email.id_for_label}}
                                                value="{{form.email.value|default_if_none:""}}" class="input">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if form.telefone.errors  or error4 %}
                                    <div class="field">
                                        <p class="" for={{form.telefone.id_for_label}}>
                                            Telefone/Telemovel</p>
                                        <div class="control has-icons-right"><input type="text" name="telefone"
                                                id={{form.telefone.id_for_label}} autocomplete="on"
                                                class="input is-danger" pattern="[0-9]{3}[0-9]{3}[0-9]{3}">
                                            <!----> <span class="icon is-right has-text-danger"><i
                                                    class="mdi mdi-alert-circle mdi-24px"></i></span>
                                            <!---->
                                        </div>
                                        <p class="help is-danger">{{error4}}</p>
                                        {% else %}
                                        <div class="field">
                                            <p class="" for={{form.telefone.id_for_label}}>
                                                Telefone/Telemovel</p>
                                            <div class="control is-clearfix"><input type="tel"
                                                    id={{form.telefone.id_for_label}} name="telefone" class="input"
                                                    value="{{form.telefone.value|default_if_none:""}}"
                                                    pattern="[0-9]{3}[0-9]{3}[0-9]{3}">
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.password1.errors or error2 %}
                                        <div class="field">
                                            <p class="" for={{form.password1.id_for_label}}>Password
                                            </p>
                                            <div class="control has-icons-right"><input type="password" name="password1"
                                                    id={{form.password1.id_for_label}} autocomplete="on"
                                                    class="input is-danger">
                                                <!----> <span class="icon is-right has-text-danger"><i
                                                        class="mdi mdi-alert-circle mdi-24px"></i></span>
                                                <!---->
                                            </div>
                                            <p class="help is-danger">{{error2}}</p>
                                        </div>
                                        {% else %}
                                        <div class="field">
                                            <p class="" for={{form.password1.id_for_label}}>
                                                Password</p>
                                            <div class="control is-clearfix"><input type="password"
                                                    id={{form.password1.id_for_label}} name="password1" class="input">
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if form.password2.errors or error3 %}
                                        <div class="field">
                                            <p class="" for={{form.password1.id_for_label}}>
                                                Password
                                                Confirm</p>
                                            <div class="control has-icons-right"><input type="password" name="password2"
                                                    id={{form.password2.id_for_label}} autocomplete="on"
                                                    class="input is-danger">
                                                <!----> <span class="icon is-right has-text-danger"><i
                                                        class="mdi mdi-alert-circle mdi-24px"></i></span>
                                                <!---->
                                            </div>
                                            <p class="help is-danger">{{error3}}</p>
                                            {% else %}
                                            <div class="field">
                                                <p class="" for={{form.password2.id_for_label}}>
                                                    Password
                                                    Confirm</p>
                                                <div class="control is-clearfix"><input type="password"
                                                        id={{form.password2.id_for_label}} name="password2"
                                                        class="input">
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="field">
                                                <p class="" for={{form.funcao.id_for_label}}>
                                                    Função</p>
                                                <div class="control is-expanded"><span class="select"><select
                                                            id={{form.funcao.id_for_label}} name="funcao"
                                                            value="{{form.funcao.value|default_if_none:0}}"
                                                            onchange="yesnoCheck(this);">
                                                            <option value=0 {% if form.funcao.value == '0' %} selected
                                                                {% endif %}>Participante
                                                            </option>
                                                            <option value=1 {% if form.funcao.value == '1' %} selected
                                                                {% endif %}>Colaborador
                                                            </option>
                                                            <option value=2 {% if form.funcao.value == '2' %} selected
                                                                {% endif %}>Coordenador
                                                            </option>
                                                            <option value=3 {% if form.funcao.value == '3' %} selected
                                                                {% endif %}>
                                                                Docente Universitario</option>
                                                            <option value=4 {% if form.funcao.value == '4' %} selected
                                                                {% endif %}>Administrador
                                                            </option>
                                                        </select></span>
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                            <div id="hidden_div2"
                                                {% if form.funcao.value == '1' or form.funcao.value == '2' or form.funcao.value == '3' %}
                                                style="display:block;" {% endif %}>
                                                {% if error5 == 2 %}
                                                <div class="field">
                                                    <p class="" for="{{form.UO.id_for_label}}">
                                                        Unidade Organica</p>
                                                    <div class="control is-expanded"><span
                                                            class="select is-danger"><select name="UO"
                                                                id="{{form.UO.id_for_label}}" value={{form.UO.value}}>
                                                                <!---->
                                                                <option value=0>
                                                                </option>
                                                                {% for UO in UOs %}
                                                                <option value={{UO.pk}}
                                                                    {% if UO.pk == form.UO.value|add:"0" %} selected
                                                                    {% endif %}>
                                                                    {{UO.sigla}}
                                                                </option>
                                                                {% endfor %}
                                                            </select></span>
                                                        <!---->
                                                    </div>
                                                    <p class="help is-danger">Preencha este campo.
                                                    </p>
                                                    <!---->
                                                </div>
                                                {% else %}
                                                <div class="field">
                                                    <p class="">
                                                        Unidade Organica</p>
                                                    <div class="control is-expanded"><span class="select "><select
                                                                name="UO" id="{{form.UO.id_for_label}}"
                                                                value={{form.UO.value}}>
                                                                <!---->
                                                                <option value=0>
                                                                </option>
                                                                {% for UO in UOs %}
                                                                <option value={{UO.pk}}
                                                                    {% if form.UO.value|add:"0" == UO.pk %} selected
                                                                    {% endif %}>
                                                                    {{UO.sigla}}
                                                                </option>
                                                                {% endfor %}
                                                            </select></span>
                                                        <!---->
                                                    </div>
                                                    <!---->
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div id="hidden_div" {% if form.funcao.value == '1' %}
                                                style="display:block;" {% endif %}>
                                                {% if error5 == 1 %}
                                                <div class="field">
                                                    <p class="" for="{{form.curso.id_for_label}}">
                                                        Curso</p>
                                                    <div class="control is-expanded"><span
                                                            class="select is-danger"><select name="curso"
                                                                id="{{form.curso.id_for_label}}"
                                                                value={{form.curso.value}}>
                                                                <!---->
                                                                <option value=0>
                                                                </option>
                                                                {% for curso in cursos %}
                                                                <option value={{curso.value}}
                                                                    {% if curso.pk == form.curso.value|add:"0" %}
                                                                    selected {% endif %}>
                                                                    {{curso.nome}}
                                                                </option>
                                                                {% endfor %}
                                                            </select></span>
                                                        <!---->
                                                    </div>
                                                    <p class="help is-danger">Preencha este campo.
                                                    </p>
                                                    <!---->
                                                </div>
                                                {% else %}
                                                <div class="field">
                                                    <p class="">
                                                        Curso</p>
                                                    <div class="control is-expanded"><span class="select "><select
                                                                name="curso""
                                                                                id="{{form.curso.id_for_label}}"
                                                                value={{form.curso.value}}>
                                                                <!---->
                                                                <option value=0>
                                                                </option>
                                                                {% for curso in cursos %}
                                                                <option value={{curso.value}}
                                                                    {% if form.curso.value|add:"0" == curso.pk %}
                                                                    selected {% endif %}>
                                                                    {{curso.nome}}
                                                                </option>
                                                                {% endfor %}
                                                            </select></span>
                                                        <!---->
                                                    </div>
                                                    <!---->
                                                </div>
                                                {% endif %}
                                            </div>
                                            <p id="de"></p>
                                            <div id="hidden_div3" {% if form.funcao.value == '3' %}
                                                style="display:block;" {% endif %}>
                                                {% if error5 == 3 %}
                                                <div class="field">
                                                    <p class="" for="{{form.departamento.id_for_label}}">
                                                        Departamento</p>
                                                    <div class="control is-expanded"><span
                                                            class="select  is-danger"><select name="departamento"
                                                                id="{{form.departamento.id_for_label}}"
                                                                value={{form.departamento.value}}>
                                                                <!---->
                                                                <option value=0>
                                                                </option>

                                                                {% for departamento in deps %}

                                                                <option value={{departamento.value}}
                                                                    {% if form.departamento.value|add:"0" == departamento.pk %}
                                                                    selected {% endif %}>
                                                                    <p hidden>{{UO.nome}}</hidden>
                                                                        {{departamento.nome}}
                                                                </option>
                                                                {% endfor %}
                                                            </select></span>
                                                        <!---->
                                                    </div>
                                                    <p class="help is-danger">Preencha este campo.
                                                    </p>
                                                    <!---->
                                                </div>
                                                {% else %}
                                                <div class="field">
                                                    <p class="" for="{{form.departamento.id_for_label}}">
                                                        Departamento</p>
                                                    <div class="control is-expanded"><span class="select"><select
                                                                name="departamento"
                                                                id="{{form.departamento.id_for_label}}"
                                                                value="{{form.departamento.value}}">
                                                                <!---->
                                                                <option value=0>
                                                                </option>
                                                                {% for departamento in deps %}
                                                                <option value="{{departamento.value}}"
                                                                    {% if form.departamento.value|add:"0" == departamento.pk %}
                                                                    selected {% endif %}>
                                                                    {{departamento.nome}}
                                                                </option>
                                                                {% endfor %}
                                                            </select></span>
                                                        <!---->
                                                    </div>
                                                    <!---->
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
        </section>
        <div class="column is-8 is-offset-2">
            <div class="level">
                <div class="level-left"><a href=".." class="button is-outlined" type="button">
                        <!----> <span> Cancelar </span>
                        <!----></a></div>
                <div class="level-right"><button type="button" class="button is-large is-success is-outlined"
                        data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
                        <!----> <span> Submeter </span>
                        <!----></button></div>
            </div>
        </div>
    </div>
</div>
<div class="dialog modal" id="exampleModal">
    <div class="modal-background"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="modal-card animation" style="max-width:360px">
        <!---->
        <section class="modal-card-body is-titleless">
            <div class="media">
                <!---->
                <div class="media-content">
                    <p>Tem a certeza que quer inscrever-se no site?</p>
                    <!---->
                </div>
            </div>
        </section>
        <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                Cancelar
            </button> <button class="button is-success" type="submit" id="submit_button">
                Confirmar
            </button></footer>
    </div>
</div>
</form>
<script>
    function yesnoCheck(that) {
        if (that.value == 1) {
            document.getElementById('hidden_div2').style.display = 'block';
            document.getElementById('hidden_div3').style.display = 'none';
            document.getElementById('hidden_div').style.display = 'block';
        } else if (that.value == 2) {
            document.getElementById('hidden_div').style.display = 'none';
            document.getElementById('hidden_div3').style.display = 'none';
            document.getElementById('hidden_div2').style.display = 'block';
        } else if (that.value == 3) {
            document.getElementById('hidden_div').style.display = 'none';
            document.getElementById('hidden_div2').style.display = 'block';
            document.getElementById('hidden_div3').style.display = 'block';
        }
        else {
            document.getElementById('hidden_div').style.display = 'none';
            document.getElementById('hidden_div2').style.display = 'none';
            document.getElementById('hidden_div3').style.display = 'none';
        }
    }    
    </script>
<script>
    $(function () {

        $(document).ready(function(){
            $("#submit_button").on('click',function(){
                $(this).modal('hide');
            });
        });
        $('#{{form.UO.id_for_label}}').on('change', function () {
            var val = this.value;
            console.log(val)
            if (val != 0) {
                $('#{{form.departamento.id_for_label}} option').hide().filter(function () {
                    
                    return this.value.indexOf(val + '_') === 0;
                })
                    .show();
            }
        })
            .change();
        $('#{{form.UO.id_for_label}}').on('change', function () {
            var val = this.value;
            console.log("cur"+val)
            if (val != 0) {
                $('#{{form.curso.id_for_label}} option').hide().filter(function () {
                    console.log(this.value.indexOf(val + '_'))
                    return this.value.indexOf(val + '_') === 0;
                })
                    .show();
            }
        })
            .change();
    });
</script>
{% endblock content %}