{% extends "login.html" %}

{% block steps %}
<li class=""><a href=".." class="router-link-active">Login</a>
    <li class="is-active"><a href="" class="router-link-exact-active router-link-active">Recuperaçâo de Password</a>
{% endblock %}

{% block content2 %}

<div style="padding: 3rem 2vw 1rem;">
    <div class="b-steps">
        <nav class="steps is-success">
            <ul class="step-items">
                <li class="step-item is-success is-active"><a class="step-link">
                        <div class="step-marker"><span class="icon"><i class="mdi mdi-book mdi-24px"></i></span></div>
                        <div class="step-details"><span class="step-title">Recuperaçâo de Password</span>
                        </div>
                    </a></li>
            </ul>
        </nav>
        <section class="step-content">
            <div class="step-item" style="">
                <div style="padding: 1rem 2vw 0px;">
                    <hr>
                    {% block content3 %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="column is-offset-3 is-6">
                            {% if message != None %}
                            <div class="field"><label class="" for={{form.email.id_for_label}}>Email</label>
                                <div class="control has-icons-right"><input type="email" name="email"
                                        id={{form.email.id_for_label}} autocomplete="on" class="input is-danger">
                                    <!----> <span class="icon is-right has-text-danger"><i
                                            class="mdi mdi-alert-circle mdi-24px"></i></span>
                                    <!---->
                                </div>
                                {% if message != None %}
                                <p class="help is-danger">{{message}}</p>
                                {% endif %}
                                {% else %}
                                <div class="field"><label class="" for={{form.email.id_for_label}}>Email</label>
                                    <div class="control is-clearfix"><input type="email" name="email"
                                            id={{form.email.id_for_label}} class="input">
                                    </div>
                                </div>
                                {% endif %}
                                </div>
                                <hr>
                            </div>
                        </div>
        </section>
        <div class="column is-8 is-offset-2">
            <div class="level">
                <div class="level-left"><a href=".." class="button is-outlined" type="button">
                        <!----> <span> Cancelar </span>
                        <!----></a></div>
                <div class="level-right"><button type="button" class="button is-large is-success is-outlined"
                        data-toggle="modal" data-target="#exampleModal">
                        <!----> <span> Submeter </span>
                        <!----></button></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="dialog modal" id="exampleModal">
    <div class="modal-background"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="modal-card animation" style="max-width:360px">
        <!---->
        <section class="modal-card-body is-titleless">
            <div class="media">
                <!---->
                <div class="media-content">
                    <p>Tem a certeza que quer receber o email?</p>
                    <!---->
                </div>
            </div>
        </section>
        <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                Cancelar
            </button> <button class="button is-success" type="submit">
                Confirmar
            </button></footer>
    </div>
</div>
</form>
{% endblock content3 %}
{% endblock content2 %}