{% extends "reset.html" %}
{% block content3 %}
<form method="POST">
    {% csrf_token %}
    <div class="column is-offset-3 is-6">
        {% if messages %}
        <div class="field"><label class="" for={{form.password.id_for_label}}>Password</label>
            <div class="control has-icons-right"><input type="password" name="password" id={{form.password.id_for_label}}
                    autocomplete="on" class="input is-danger">
                <!----> <span class="icon is-right has-text-danger"><i class="mdi mdi-alert-circle mdi-24px"></i></span>
                <!---->
            </div>
            {% for message in messages %}
            {% if message.tags == "error" %}
            <p class="help is-danger">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="field"><label class="" for={{form.password.id_for_label}}>Password</label>
                <div class="control is-clearfix"><input type="password" name="password" id={{form.password.id_for_label}}
                        class="input">
                </div>
            </div>
            {% endif %}
            {% if error %}
            <div class="field"><label class="" for={{form.confirm_password.id_for_label}}>Confirm Password</label>
                <div class="control has-icons-right"><input type="password" name="confirm_password" id={{form.confirm_password.id_for_label}}
                        autocomplete="on" class="input is-danger">
                    <!----> <span class="icon is-right has-text-danger"><i class="mdi mdi-alert-circle mdi-24px"></i></span>
                    <!---->
                </div>

                <p class="help is-danger">Palavras-passe nao coincidem</p>

                {% else %}
                <div class="field"><label class="" for={{form.confirm_password.id_for_label}}>Confirm Password</label>
                    <div class="control is-clearfix"><input type="password" name="confirm_password" id={{form.confirm_password.id_for_label}}
                            class="input">
                    </div>
                </div>
                {% endif %}
        </div>
        <hr>
    </div>
    </div>
    </section>
    <div class="column is-8 is-offset-2">
        <div class="level">
            <div class="level-left"><a href=".." class="button is-outlined" type="button">
                    <!----> <span> Cancelar </span>
                    <!----></a></div>
            <div class="level-right"><button type="button" class="button is-large is-success is-outlined"
                    data-toggle="modal" data-target="#exampleModal">
                    <!----> <span> Submeter </span>
                    <!----></button></div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="dialog modal" id="exampleModal">
        <div class="modal-background"></div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="modal-card animation" style="max-width:360px">
            <!---->
            <section class="modal-card-body is-titleless">
                <div class="media">
                    <!---->
                    <div class="media-content">
                        <p>Tem a certeza que quer alterar a palavra-passe?</p>
                        <!---->
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                    Cancelar
                </button> <button class="button is-success" type="submit">
                    Confirmar
                </button></footer>
        </div>
    </div>
</form>
{% endblock content3 %}