{% extends '../atividades/assets/home.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="{% url 'atividades:consultar_atividades_coodernador' %}" aria-current="page">Atividades do Departamento</a></li>
    <li class="is-active"><a href="" aria-current="page">Aceitar Atividade</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
  <form method="POST">
    {% csrf_token %}
    <div class="table-wrapper">
      <table class="table has-mobile-cards is-hoverable is-fullwidth">
          <font size="4"><p align="center"> Deseja mesmo aceitar atividade <font size="5">"{{activity.titulo}}"</font> ?</p></font>
      <hr>
      </div>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
          <a href="{% url 'atividades:ver_sessoes' activity.idatividade %}" class="button is-outlined" type="button">
            <span> <i class="mdi mdi-arrow-left-thick mdi-36px">&nbsp </i>Voltar</span>
          </a>
        </div>
        <div class="level-right">
          <button class="button is-large is-success is-outlined is-link" type="submit">
            <span>Confirmar</span>
          <span class="icon is-medium">
            <i class="mdi mdi-forward mdi-36px"></i>
          </span>
        </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content%}