{% extends 'base_template.html' %}
{% block steps %}
   <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="" aria-current="page">Atividades do Departamento</a></li>
{% endblock %}
{% block content %}

<div class="columns">
    <div class="column is-3">
        <div data-v-1513178e="" class="menu">
            <p data-v-1513178e="" class="menu-label">Consultar por Filtros</p>
        <form method="Post" id="filtro"> {% csrf_token %}
            <div class="field">
                <!---->
                <div class="control is-expanded has-icons-left"><span
                        class="select is-fullwidth is-empty">
                        <select name="departamento" id="departamento">
                                    <option value="" disabled selected>Selecione departamento</option>
                                    {% for departamento in departamentos %}
                                    <option value="{{departamento.iddepartamento}}" {% if departamento.iddepartamento == departamento_filter %} selected {% endif %}>{{departamento.nome}}</option>
                                    {% endfor %}
                                </select>
                         </span> <span class="icon is-left"><i
                        class="mdi mdi-magnify mdi-24px"></i></span></div>
                <!---->
            </div>
            <div class="field">
                <!---->
                <div class="control is-expanded has-icons-left"><span
                        class="select is-fullwidth is-empty"><select  name="estado" id="estado">
                            <option value="" disabled selected>Selecione Estado</option>
                            <option value="0" {% if estado_filter == "0" %} selected {% endif %}>Pendente</option>
                            <option value="1" {% if estado_filter ==  "1" %} selected {% endif %}>Aceite</option>
                            <option value="-1" {% if estado_filter == "-1" %} selected {% endif %}>Recusado</option>
                        </select></span><span class="icon is-left"><i
                            class="mdi mdi-magnify mdi-24px"></i></span>
                    <!---->
                </div>
                <!---->
            </div>

             <div data-v-1513178e="" class="field">
                <!---->
                <div data-v-1513178e="" class="autocomplete control">
                    <div class="control has-icons-left is-clearfix"><input type="text"
                             autocomplete="off"
                            placeholder="Filtrar por tema" class="input" name="temaAtividade" id="temaAtividade" value="{{tema_filter}}">
                        <span class="icon is-left"><i class="mdi mdi-magnify mdi-24px"></i></span>
                        <!---->
                        <!---->
                    </div>
                </div>
                <!---->
            </div>

            <div data-v-1513178e="" class="field">
                <!---->
                <div data-v-1513178e="" class="autocomplete control">
                    <div class="control has-icons-left is-clearfix"><input type="text"
                          autocomplete="off"
                            placeholder="Filtrar por titulo" class="input" name="nomeAtividade" id="nomeAtividade" value="{{titulo_filter}}">
                        <span class="icon is-left"><i class="mdi mdi-magnify mdi-24px"></i></span>
                        <!---->
                        <!---->
                    </div>
                </div>
                <!---->
            </div>

            <button  type="submit" form="filtro" class="button" style="margin-right: 1rem; color: blue"><!----> <span>Pesquisar</span> <!----></button>
            <button class="button is-outlined is-link is-danger"  onclick="clearField()">
                <span>Limpar</span>
                <span class="icon is-medium"><i class="mdi mdi-broom"></i></span>
            </button>

        </form>
        </div>
</div>
    <div class="column">
        <div class="table "></div>
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth" id="myTable">
                    <thead>
                            <th>
                                Titulo
                            </th>
                            <th>
                                Temática
                            </th>
                            <th>
                                Número participantes
                            </th>
                            <th>
                                Duração (em minutos)
                            </th>
                            <th>
                                Local
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Docente
                            </th>
                            <th>Ações</th>
                            </thead>
                            <tbody>
                            {% for activity in list %}
                            <tr>
                                <td>{{activity.titulo}}</td>
                                <td>{{activity.tematica}}</td>
                                <td>{{activity.capacidade}}</td>
                                <td>{{activity.duracao|floatformat:0}}</td>
                                <td>
                                    {%if not activity.espaco_idespaco.nome %} [a ser definido]
                                    {% else %} <a href="{% url 'atividades:display_image' activity.espaco_idespaco.idespaco %}" target="_blank">
                                    {{activity.espaco_idespaco.nome}}</a>
                                    {% endif %}
                                </td>
                                <td>
                                {% if activity.validada == 0 or activity.validada == 2 %}
                                    <span class="tag next is-warning" style="width: 7 rem;font-size: small;">Pendente</span>
                                {% elif activity.validada == 1 %}
                                    <span class="tag next is-success" style="width: 7 rem;font-size: small;">Concluída</span>
                                {% elif activity.validada == -1 %}
                                    <span class="tag next is-danger" style="width: 7 rem;font-size: small;">Rejeitada</span>
                                {% endif %}
                                </td>
                                <td>
                                   {{activity.professor_universitario_utilizador_idutilizador.utilizador_idutilizador.nome}}
                                </td>
                                <td>
                                        <a data-toggle="modal" href="{% url 'atividades:editar_local' activity.idatividade %}">
                                            <span class="icon is-small icon has-text-success">
                                                <i class="mdi mdi-pencil mdi-24px"></i>
                                            </span>
                                        </a>
                                        <a data-toggle="modal" data-target="#{{ forloop.counter }}">
                                            <span class="icon is-small icon has-text-success">
                                                <i class="mdi mdi-account-search mdi-24px"></i>
                                            </span>
                                        </a>
                                </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
        {% for activity in list %}
<div tabindex="-1" class="modal fade" id="{{forloop.counter}}" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-background"></div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Descrição:</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{activity.descricao}}">
                        </div>
                         <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Número de participantes:</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{activity.capacidade}}">
                        </div>
                         <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Duração:</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{activity.duracao|floatformat:0}}">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Publico Alvo:</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{activity.publico_alvo}}">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Campus:</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{activity.unidade_organica_iduo.campus_idcampus.nome}}">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Local:</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{%if not activity.espaco_idespaco.nome %} [a ser definido]
                                                                {% else %} {{activity.espaco_idespaco.nome}}
                                                                {% endif %}">
                        </div>
                        <br>
                         </button>
                        <a href="{% url 'atividades:ver_sessoes' activity.idatividade %}">
                        <button class="button is-warning">
                            Ver Sessões
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endfor %}



         <script>
            function clearField(){
                document.getElementById('estado').value = '';
                document.getElementById('departamento').value = '';
                document.getElementById('temaAtividade').value = '';
                document.getElementById('nomeAtividade').value = '';
            }
          </script>

          <script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "columnDefs": [
    { "orderable": false, "targets": 7 }]
        });
    });
        </script>

{% endblock content %}