{% extends '../atividades/assets/home.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="" aria-current="page">Criar Atividade</a></li>
  </ul>
</nav>
<h1 style="font-size:large;"><b>Informações sobre atividade</b></h1>
<div style="padding: 3rem 2vw 1rem">
  <form method="POST" action="" id="atividade"> {% csrf_token %}
  <div class="b-steps">

    <section class="step-content">
        <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Titulo da atividade:</label>
                    <div class="control">
                        <input type="text" class="input" name="titulo" value="{{activity.titulo}}" >
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Descrição:</label>
                    <div class="control is-expanded">
                       <div class="control is-clearfix">
                           <textarea maxlength="300" class="textarea" name="descricao">{{activity.descricao}}</textarea>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Publico alvo:</label>
                    <div class="control is-expanded">
                       <div class="control is-clearfix">
                           <input type="text"  name="publico_alvo" class="input" value="{{activity.publico_alvo}}">
                       </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Tematica:</label>
                    <div class="control is-expanded">
                       <div class="control is-clearfix">
                           <input type="text" name="tema" class="input" value="{{activity.tematica}}">
                       </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                    <div class="field">
                      <label class="label">Número de Participantes:</label>
                        <div class="control is-clearfix">
                           <input type="number"  name="capacidade" class="input" value="{{activity.capacidade}}">
                        </div>
                    </div>
                  </div>
              </div>
            <hr/>
          </div>
        </div>  
        </div>     
      </section>
      <section class="step-content">
        <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Duração da atividade (minutos):</label>
                        <div class="control is-clearfix">
                           <input type="number" name="duracao" class="input" value="{{activity.duracao|floatformat:0}}">
                        </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Número de colaboradores desejados:</label>
                    <div class="control is-expanded">
                       <div class="control is-clearfix">
                           <input type="number" name="ncolaboradores" class="input" value="{{activity.ncolboradores}}">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Campus:</label>
                    <div class="control is-expanded" style="padding-top:25px">
                       <div class="select is-fullwidth">
                            <select id="campus" name="campus">
                                <option value="" disabled selected>Selecione campus</option>
                                {% for camp in campus %}
                                {% if camp.idcampus == professor.departamento_iddepartamento.unidade_organica_iduo.campus_idcampus.idcampus %}
                                <option value="{{camp.idcampus}}" selected>{{camp.nome}} </option>
                                {% else %}
                                <option value="{{camp.idcampus}}">{{camp.nome}} </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Unidade Orgânica:</label>
                      <div class="control" style="padding-top:25px">
                        <div class="select is-fullwidth">
                            <select id="unidade_organica" name="unidade_organica">
                                <option value="" disabled selected>Selecione Unidade organica</option>
                                {% for unidade in unidade_organica %}
                                {% if unidade.iduo == professor.departamento_iddepartamento.unidade_organica_iduo.iduo %}
                                <option value="{{unidade.iduo}}" selected>{{unidade.sigla}}</option>
                                {% else %}
                                <option value="{{unidade.iduo}}">{{unidade.sigla}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Departamento:</label>
                      <div class="control" style="padding-top:25px">
                        <div class="select is-fullwidth">
                            <select id="iddepartamento" name="iddepartamento">
                                <option value="" disabled selected>Selecione Departamento</option>
                                {% for departamento in departamentos %}
                                {% if departamento.iddepartamento == professor.departamento_iddepartamento.iddepartamento %}
                                <option value="{{departamento.iddepartamento}}" selected>{{departamento.nome}}</option>
                                {% else %}
                                <option value="{{departamento.iddepartamento}}">{{departamento.nome}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            <hr/>
          </div>
        </div>
        </div>
    </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
          <a class="button is-outlined" type="button" href="javascript:history.back()">
            <span>Cancelar</span>
          </a>
        </div>
        <div class="level-right">
          <button class="button is-large is-success is-outlined is-link" type="submit" form="atividade">
            <span>Definir local</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>


</form>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content%}