{% extends 'base_template.html' %}
{% block steps %}
    <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="" aria-current="page">Definir Local de {{activity.titulo}}</a></li>
{% endblock %}
{% block content %}
<div style="padding: 3rem 2vw 1rem">
  <form method="POST" id="local"> {% csrf_token %}
    <div class="b-steps">
        <nav class="steps is-success">
          <ul class="step-items">
              <li class="step-item is-success is-active"><a class="step-link">
                    <div class="step-marker"><span class="icon"><i class="mdi mdi-home mdi-24px"></i></span></div>
                      <div class="step-details"><span class="step-title">Informação Local</span>
                      </div>

                  </a></li>
          </ul>
      </nav>
  </div>

    <section class="step-content">
        <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <div class="columns">


                <div class="column" style="padding-left:200px">
                  <div class="field" style="padding-top:40px;" >
                    <label class="" style="padding-left:50px;">
                        {% if activity.espaco_idespaco %}
                            Sala escolhida: {{activity.espaco_idespaco.nome}}
                        {% else %}
                            Sala ainda não escolhida!
                        {% endif %}
                    </label>
                  </div>
                </div>

            {% if account != "coordinator" %}
            <div class="column" style="padding-left:10px;padding-right:40px">
                  <div class="field" style="padding-top:40px;" >
                    <label class="" style="padding-left:50px;">
                        <input type="checkbox" id="semSala" name="semSala" value="0" onclick="showSalaInfo()">  Sem local especifico </label>
                  </div>
            </div>
                <div class="columns" >
                 <div class="column" id="infoSala" style="display:none;padding-right:200px">

                  <div class="field" style="padding-top:20px; width:400px;" >
                      <div class="control">
                       <div class="control is-clearfix" >
                           <label class="">Especificações de material ou sala:</label>
                           <textarea maxlength="300" class="textarea" name="infoSala"></textarea>
                       </div>
                    </div>
                  </div>
                 </div>
        </div>
              <div class="columns" id="comSala" style="display:block;padding-right:400px">
            {% else %}
                 <div class="columns" >
                 <div class="column" id="infoSala" style="display:none;padding-right:200px;">

                  <div class="field" style="padding-top:20px; width:400px;" >
                      <div class="control">
                       <div class="control is-clearfix" >
                           <label class="">Especificações de material ou sala:</label>
                           <textarea maxlength="300" class="textarea" name="infoSala"></textarea>
                       </div>
                    </div>
                  </div>
                 </div>
        </div>
              <div class="columns" id="comSala" style="display:block;padding-right:300px">
            {% endif %}

                  <div class="column">
                  <div class="field" style="padding-left:15px">
                    <label class="label">Tipo de local</label>
                    <div class="select is-fullwidth">
                            <select id="tipoSala" name="tipoSala" onchange='this.form.submit()'>
                                <option value="" disabled selected>Selecione tipo desejado</option>
                                <option value="1" {% if  fields == 1 %} selected {% endif %}>Sala</option>
                                <option value="2" {% if  fields == 2 %} selected {% endif %}>Anfiteatro</option>
                                <option value="3"{% if  fields == 3 %} selected {% endif %}>ArLivre</option>
                            </select>
                        </div>
                  </div>
                      {%if fields == 1 or fields == 2 %}
                    <div class="column" id="edifcio">
                      <div class="field">
                        <label class="label">Edificio:</label>
                        <div class="select is-fullwidth">
                                <select id="edificio" name="edificio" onchange=' this.form.submit(); '>
                                    <option value="" disabled selected>Selecione edificio desejado</option>
                                    {% for edf in edificios %}
                                    <option value="{{edf}}" {% if  selectedBuilding  == edf %} selected {% endif %}>{{edf}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                    {% endif %}
                {% if fields == 3 %}
                <div class="column">
                  <div class="field">
                    <label class="label">Local:</label>
                    <div class="select is-fullwidth">
                            <select id="espaco" name="espaco">
                                <option value="" disabled selected>Selecione local desejada</option>
                                {% for espaco in espacos %}
                                <option value="{{espaco.idespaco}}">{{espaco.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                  </div>
                  </div>
                </div>
            {% endif %}
                {% if selectedBuilding != None %}
                <div class="column">
                  <div class="field">
                    <label class="label">Sala:</label>
                    <div class="select is-fullwidth">
                            <select id="espaco" name="espaco">
                                <option value="" disabled selected>Selecione sala desejada</option>
                                {% for espaco in espacos %}
                                <option value="{{espaco.idespaco}}">{{espaco.nome}} {% if espaco.idespaco == activity.espaco_idespaco %}
                                selected {% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                  </div>
                  </div>
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </section>
  </div>
              </div>

          </div>
      </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
            {% if account == 'professor' %}
              <a class="button is-outlined" type="button" href="{% url 'atividades:editar_atividade'  activity.idatividade %}">
              {% else %}
              <a class="button is-outlined" type="button" href="{% url 'atividades:consultar_atividades_coodernador' %}">
              {% endif %}
            <span>Voltar</span>
          </a>
        </div>
        <div class="level-right">
          <button class="button is-large is-success is-outlined is-link" type="submit" form="local">
              {% if account == 'professor' %}
              <span>Definir Sessões</span>
              {% else %}
              <span>Submeter</span>
              {% endif %}
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<script>
    function showSalaInfo()
{
  if (document.getElementById('semSala').checked)
  {
      document.getElementById('infoSala').style.display = "block";
      document.getElementById('comSala').style.display = "none";
  } else {
      document.getElementById('comSala').style.display = "block";
      document.getElementById('infoSala').style.display = "none";
  }
}
</script>

<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content%}