{% extends '../atividades/assets/home.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="" aria-current="page">Definir Local de {{activity.titulo}}</a></li>
  </ul>
</nav>
<h1 style="font-size:large;"><b>Informações sobre local</b></h1>
<h3 style="font-size:large;"><b>{{activity.espaco_idespaco.nome}}</b></h3>
<div style="padding: 3rem 2vw 1rem">
  <form method="POST" id="local"> {% csrf_token %}
  <div class="b-steps">

    <section class="step-content">
        <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label"><input type="checkbox" id="semSala" name="semSala" value="0">Sem local especifico. </label>
                    <div class="control is-expanded">
                       <div class="control is-clearfix">
                           <label class="label">Especificações de sala:</label>
                           <textarea maxlength="300" class="textarea" name="infoSala"></textarea>
                       </div>
                    </div>
                  </div>
                </div>
                  <div class="column">
                  <div class="field">
                    <label class="label">Tipo de local</label>
                    <div class="select is-fullwidth">
                            <select id="tipoSala" name="tipoSala" onchange='this.form.submit()'>
                                <option value="" disabled selected>Selecione tipo desejado</option>
                                <option value="1" {% if  fields == 1 %} selected {% endif %}>Sala</option>
                                <option value="2" {% if  fields == 2 %} selected {% endif %}>Anfiteatro</option>
                                <option value="3"{% if  fields == 3 %} selected {% endif %}>ArLivre</option>
                            </select>
                        </div>
                  </div>
                </div>
                  {% if fields == 1 or fields == 2 %}
                    <div class="column">
                      <div class="field">
                        <label class="label">Edificio:</label>
                        <div class="select is-fullwidth">
                                <select id="edificio" name="edificio" onchange=' this.form.submit(); '>
                                    <option value="" disabled selected>Selecione edificio desejado</option>
                                    {% for edf in edificios %}
                                    <option value="{{edf}}" {% if  selectedBuilding  == edf %} selected {% endif %}>{{edf}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                {% if fields == 3 %}
                <div class="column">
                  <div class="field">
                    <label class="label">Local:</label>
                    <div class="select is-fullwidth">
                            <select id="espaco" name="espaco">
                                <option value="" disabled selected>Selecione local desejada</option>
                                {% for espaco in espacos %}
                                <option value="{{espaco.idespaco}}">{{espaco.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                  </div>
                  </div>
                </div>
            {% endif %}
                {% if selectedBuilding != None %}
                <div class="column">
                  <div class="field">
                    <label class="label">Sala:</label>
                    <div class="select is-fullwidth">
                            <select id="espaco" name="espaco">
                                <option value="" disabled selected>Selecione sala desejada</option>
                                {% for espaco in espacos %}
                                <option value="{{espaco.idespaco}}">{{espaco.nome}} {% if espaco.idespaco == activity.espaco_idespaco %}
                                selected {% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                  </div>
                  </div>
                </div>
                {% endif %}
              </div>
            <hr/>
          </div>
        </div>
        </div>
      </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
            {% if account == 'professor' %}
              <a class="button is-outlined" type="button" href="{% url 'atividades:editar_atividade'  activity.idatividade %}">
              {% else %}
              <a class="button is-outlined" type="button" href="{% url 'atividades:consultar_atividades_coodernador' %}">
              {% endif %}
            <span>Voltar</span>
          </a>
        </div>
        <div class="level-right">
          <button class="button is-large is-success is-outlined is-link" type="submit" form="local">
              {% if account == 'professor' %}
              <span>Definir Sessões</span>
              {% else %}
              <span>Submeter</span>
              {% endif %}
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content%}