{% extends '../atividades/assets/home.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="" aria-current="page">Especificar {{espaco.nome}}</a></li>
  </ul>
</nav>
<h1 style="font-size:large;"><b>Informações sobre local</b></h1>
<h3 style="font-size:large;"><b>{{espaco.nome}}</b></h3>
<div style="padding: 3rem 2vw 1rem">
  <form method="POST" id="local"> {% csrf_token %}
  <div class="b-steps">

    <section class="step-content">
        <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <div class="columns">
                  <div class="column">
                  <div class="field">
                    <label class="label">Tipo de local</label>
                    <div class="select is-fullwidth">
                            <select id="tipoSala" name="tipoSala" onchange='this.form.submit()'>
                                <option value="" disabled selected>Selecione tipo desejado</option>
                                <option value="1" {% if  fields == "1" %} selected {% endif %}>Sala</option>
                                <option value="2" {% if  fields == "2" %} selected {% endif %}>Anfiteatro</option>
                                <option value="3"{% if  fields == "3" %} selected {% endif %}>ArLivre</option>
                            </select>
                        </div>
                  </div>
                </div>
                  {% if fields == "1" or fields == "2" %}
                    <div class="column">
                      <div class="field">
                        <label class="label">Edificio:</label>
                            <div class="control">
                                <input type="text" class="input" name="edificio">
                            </div>
                        </div>
                      </div>
                    <div class="column">
                      <div class="field">
                        <label class="label">Andar:</label>
                            <div class="control">
                                <input type="number" class="input" name="andar">
                            </div>
                        </div>
                      </div>

                {% elif fields == "3" %}
                    <div class="column">
                      <div class="field">
                        <label class="label">Descrição:</label>
                            <div class="control">
                                <input type="text" class="input" name="descricao">
                            </div>
                        </div>
                      </div>
                    </div>
            {% endif %}

              </div>
            <hr/>
          </div>
        </div>
        </div>
      </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
              <a class="button is-outlined" type="button" href="{% url 'atividades:criar_sala' %}">
            <span>Voltar</span>
          </a>
        </div>
        <div class="level-right">
          <button class="button is-large is-success is-outlined is-link" type="submit" form="local">
              <span>Submeter</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content%}