{% extends 'base_template.html' %}
{% block steps %}
    <li><a href="{% url 'blog:blog-home' %}">Início</a></li>
    <li class="is-active"><a href="" aria-current="page">Atividades</a></li>
{% endblock %}
{% block content %}
        <div class="table "></div>
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                            <th>
                                Dia:
                            </th>
                            <th>
                                Hora:
                            </th>
                            <th>
                                Número inscritos:
                            </th>
                            <th>
                                Total de Vagas:
                            </th>
                            <th></th>

                            {% for session in list %}
                            <tr>
                                <td>{{session.horario_has_dia_id_dia_hora.dia_dia.dia}}</td>
                                <td>{{session.horario_has_dia_id_dia_hora.horario_hora.hora}}</td>
                                <td>{{session.nrinscritos}}</td>
                                <td>{{session.capacidade}}</td>
                                <td>
                                    {% if account != 'professor' and account != 'coordinator' %}
                                    <a>Inscrever-se</a>
                                    {% endif %}
                                </td>


                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                       {% if account == 'professor' %}
                                       <a href="{% url 'atividades:consultar_minhas_atividades'%}">
                                       {% elif account == 'coordinator' %}
                                       <a href="{% url 'atividades:consultar_atividades_coodernador'%}">
                                       {%else%}
                                       <a href="{% url 'atividades:consultar_atividades'%}">
                                       {% endif %}
                                            <span class="icon is-small">
                                                <i class="mdi mdi-arrow-left-drop-circle mdi-24px"></i>
                                            </span>
                                        </a>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    {% if account == 'professor' %}
                                    <form method="POST">
                                        <a href="{% url 'atividades:criar_editar_sessao' activity.idatividade %}">
                                            <span class="icon is-small">
                                                <i class="mdi mdi-pencil mdi-24px"></i>
                                            </span>
                                        </a>
                                    </form>
                                    {% endif %}

                                </td>
                                <td></td>

                            </tr>
                    </thead>
                </table>
                {% if account == 'coordinator' and activity.validada == 0 or account == 'coordinator' and activity.validada == 2%}
                <div class="column is-8 is-offset-2">
                    <div class="level">
                        <div class="level-left"><button type="button" class="button is-large is-danger is-outlined"
                                data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
                                <!----> <span> Rejeitar </span>

                                <!----></button></div>
                        <div class="level-right"><button type="button" class="button is-large is-success is-outlined"
                                data-toggle="modal" data-target="#exampleModalAccept" data-backdrop="false">
                                <!----> <span> Aceitar </span>
                                <!----></button></div>
                    </div>
                </div>
                <!-- POP UP Recusar-->
                <div class="dialog modal" id="exampleModal">
                <div class="modal-background"></div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="modal-card animation" style="max-width:360px">
                    <!---->
                    <form method="POST">{% csrf_token %}
                    <section class="modal-card-body is-titleless">
                        <div class="media">
                            <!---->
                            <div class="media-content">
                                <p>Tem a certeza que quer rejeitar atividade?</p>
                                <!---->
                                <div class="field"><div class="control">
                                    <input placeholder="Indique o motivo..." required="required" class="input" name="motivo">
                                </div>
                                    <p class="help is-danger">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button class="button is-success" type="submit">
                            Confirmar
                        </button></footer>
                    </form>
                </div>
            </div>


                <!-- POP UP Aceitar -->
                <div class="dialog modal" id="exampleModalAccept">
                <div class="modal-background"></div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="modal-card animation" style="max-width:360px">
                    <!---->
                    <section class="modal-card-body is-titleless">
                        <div class="media">
                            <!---->
                            <div class="media-content">
                                <p>Tem a certeza que quer aceitar atividade?</p>
                                <!---->
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                            Cancelar
                        </button>
                        <a href="{% url 'atividades:aceitar_atividade' activity.idatividade %}">
                        <button class="button is-success">
                            Confirmar
                        </button></a></footer>
                </div>
            </div>
                {% endif %}
            </div>

{% endblock content %}