{% extends 'base_template.html' %}
{% block steps %}
<li><a href="{% url 'blog:blog-home' %}">Início</a></li>
<li><a href="{% url 'menu:diaaberto_list' %}">Consultar Anos Anteriores</a></li>
{% if o %}
<li class="is-active"><a href="" aria-current="page">Criar Dia Aberto</a></li>
{% else %}
<li class="is-active"><a href="" aria-current="page">Detalhes sobre o Dia Aberto do ano {{diaaberto.ano}}</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div style="padding: 3rem 2vw 1rem;">
    <div class="b-steps">
        <nav class="steps is-success">
            <ul class="step-items">
                <li class="step-item is-success is-active"><a class="step-link">
                        <div class="step-marker"><span class="icon"><i class="mdi mdi-book mdi-24px"></i></span></div>
                        <div class="step-details"><span class="step-title">{% if o %} Criar Dia Aberto
                                {% else %}
                                Editar Dia Aberto
                                {% endif %}</span>
                        </div>
                    </a></li>
            </ul>
        </nav>
        <div style="padding: 1rem 2vw 1rem">
            <form method="POST" class="post-form"> {% csrf_token %}
                <div class="b-steps">
                    {{ form.non_field_errors }}
                    <section class="step-content">
                        <div class="step-item">
                            <div style="padding: 1rem 2vw 0px;">
                                <hr>
                                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Informação do
                                    Dia Aberto </h2>
                                <div class="columns">
                                    <div class="column">
                                        
                                        <div class="field">
                                            <label for="{{form.ano.id_for_label}}">Ano</label>
                                            <div class="control is-clearfix">
                                                {{form.ano}}
                                                <span class="help is-danger">{{form.errors.ano}}</span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.enderecopaginaweb.id_for_label}}">Página Web do Dia Aberto</label>
                                            <div class="control is-clearfix">
                                                {{form.enderecopaginaweb}}
                                                <span class="help is-danger">{{form.errors.enderecopaginaweb}}
                                                </span>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.emaildiaaberto.id_for_label}}">Email da Universidade do Algarve</label>
                                            <div class="control is-clearfix">
                                                {{form.emaildiaaberto}}
                                                <span class="help is-danger">{{form.errors.emaildiaaberto}}
                                                </span>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="{{form.descricao.id_for_label}}">Descrição</label>
                                    <div class="control is-clearfix">
                                        <textarea style="margin-top: 0px; margin-bottom: 0px; height: 30%;" maxlength="300" class="textarea" id={{form.descricao}}></textarea>
                                    </div>
                                    <!---->
                                </div>
                            </div>


                            <div style="padding: 1rem 2vw 0px;">
                                <hr>
                                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Datas para
                                    Propor Atividades para o Dia Aberto </h2>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.datapropostaatividadeinicio.id_for_label}}">Inicio para Propor Atividades por parte dos
                                                Docentes</label>
                                            <div class="control is-clearfix">
                                                {{form.datapropostaatividadeinicio}}
                                                <span class="help is-danger">{{form.errors.datapropostaatividadeinicio}}</span>
                                                <!---->
                                                <!---->
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.datapropostaatividadesfim.id_for_label}}">Fim para Propor Atividades por parte dos
                                                Docentes</label>
                                            <div class="control is-clearfix">
                                                {{form.datapropostaatividadesfim}}
                                                <span class="help is-danger">{{form.errors.datapropostaatividadesfim}}</span>
                                                </span>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div style="padding: 1rem 2vw 0px;">
                                <hr>
                                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Datas da
                                    Inscrição Dia Aberto </h2>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.datainscricaonasatividadesinicio.id_for_label}}">Inicio da Inscrição para Dia Aberto</label>
                                            <div class="control is-clearfix">
                                                {{form.datainscricaonasatividadesinicio}}
                                                <span class="help is-danger">{{form.errors.datainscricaonasatividadesinicio}}</span>
                                                <!---->
                                                <!---->
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.datainscricaonasatividadesfim.id_for_label}}">Fim da Inscrição para Dia Aberto</label>
                                            <div class="control is-clearfix">
                                                {{form.datainscricaonasatividadesfim}}
                                                <span class="help is-danger">{{form.errors.datainscricaonasatividadesfim}}
                                                </span>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding: 1rem 2vw 0px;">
                                <hr>
                                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Datas do Dia
                                    Aberto </h2>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.datadiaabertoinicio.id_for_label}}">Inicio do Dia Aberto</label>
                                            <div class="control is-clearfix">
                                                {{form.datadiaabertoinicio}}</div>
                                                <span class="help is-danger">{{form.errors.datadiaabertoinicio}}</span>
                                            <!---->
                                        </div>
                                    </div>
                                    
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.datadiaabertofim.id_for_label}}">Fim do Dia Aberto</label>
                                            <div class="control is-clearfix">
                                                {{form.datadiaabertofim}}
                                                <span class="help is-danger">{{form.errors.datadiaabertofim}}
                                                </span>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding: 1rem 2vw 0px;">
                                <hr>
                                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Preço dos
                                    Almoços nas Cantinas </h2>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.preco_almoco_estudante.id_for_label}}">Preço do aluno</label>
                                            <div class="control is-clearfix">
                                                {{form.preco_almoco_estudante}}
                                                <span class="help is-danger">{{form.errors.preco_almoco_estudante}}</span>
                                                <!---->
                                                <!---->
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                    
                                    <div class="column">
                                        <div class="field">
                                            <label for="{{ form.preco_almoco_professor.id_for_label}}">Preço do professor</label>
                                            <div class="control is-clearfix">
                                                {{form.preco_almoco_professor}}
                                                <span class="help is-danger">{{form.errors.preco_almoco_professor}}</span>
                                            </div>
                                        </div>
                                    </div>
                            
                                </div>
                                </div>
                                <div style="padding: 1rem 2vw 0px;">
                                    <hr>
                                    <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Hora de
                                        Funcionamneto </h2>
                                        <div class="columns">
                                        <div class="column">
                                            <div class="field">
                                                <label for="">Hora Abertura</label>
                                                 <div class="control is-clearfix">
                                                    <input type="time" name="h_incio" class="input" required="" id="h_incio">
                                                   </div>
                                                 </div>
                                               </div>
                                               <div class="column">
                                                <div class="field">
                                                    <label for="">Hora Fecho</label>
                                                     <div class="control is-clearfix">
                                                        <input type="time" name="h_fim" class="input" required="" id="h_fim">
                                                       </div>
                                                     </div>
                                                   </div>

                    </section>
                    <div class="column is-8 is-offset-2">
                        <div class="level">
                            <div class="level-left">
                                <a href="{% url 'menu:diaaberto_list' %}" class="button is-outlined" type="button">
                                    <span>Cancelar</span>
                                </a>
                            </div>
                            <div style="margin-left: 50%;" class="column"> 
                                <button type="button" class="button is-large is-success is-outlined" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
                                  <span>Submeter</span>
                                </button>
                                </div>
                                <div class="dialog modal" id="exampleModal">
                                    <div class="modal-background"></div>
                                    <br><br><br><br><br><br><br><br><br><br><br><br>
                                    <div class="modal-card animation" style="max-width:20%">
                                        <!---->
                                        <section class="modal-card-body is-titleless">
                                            <div class="media">
                                                <!---->
                                                <div class="media-content">
                                                    <p>Tem a certeza que quer prosseguir?</p>
                                                    <!---->
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                                                Cancelar
                                            </button> <button class="button is-success" type="submit">
                                                Confirmar
                                            </button></footer>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<style>
    .errorlist
    {
        color: red;
        
    }
    .label {
        font-weight: normal;
    }

    .b-steps .steps .step-items .step-item .step-details .step-title {
        font-size: 1rem;
    }
</style>
{% endblock content%}