.icon-button{
    border:0;
    background:none;
    /*And other css to remove the default button property */    
}

a.current{
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff;
}

.hide{
    display: none;
}

.no-bottom-border{
    border-bottom: none !important;
}

.register-button-large{
    min-width: 20px;
}

.center-column{
    display:inline-block;
    text-align:center;
}
