{% extends "compor_not.html" %}
{% block steps %}
<li><a href="/" class="router-link-active">Início</a></li>
<li><a href="/notificacao/" class="">Notificações</a></li>
<li class="is-active"><a href="/create/"
    class="router-link-exact-active router-link-active">{{form.Assunto.value}}</a></li>
{% endblock %}
{% block content2 %}
<div style="padding: 1rem 2vw 0px;">
  <hr>
  <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Nova notificação </h2>
  <div class="columns">
    <div class="column">
      <form method="Post">
        {% csrf_token %}
        <div class="field"><label class="">{{tipo}}</label>
          <div class="control is-clearfix">
            <datalist id="brow">
              <option value="Internet Explorer">
              <option value="Firefox">
              <option value="Chrome">
              <option value="Opera">
              <option value="Safari">
            </datalist>
            <input class="input" id="{{form.Destinatario.id_for_label}}" class="input" style="color: black;"
              name="Destinatario" value="{{form.Destinatario.value|default_if_none:''}}" disabled>
            <!---->
            <!---->
            <!---->
          </div>
          <!---->
        </div>
    </div>
    <div class="column">
      <div class="field"><label class="">Assunto</label>
        <div class="control is-clearfix"><input type="text" id="{{form.Assunto.id_for_label}}" name="Assunto"
            value="{{form.Assunto.value|default_if_none:''}}" style="color: black;" autocomplete="on" class="input"
            disabled>
          <!---->
          <!---->
          <!---->
        </div>
        <!---->
      </div>
    </div>
  </div>
  <div class="field"><label class="">Descrição</label>
    <div class="control is-clearfix"><textarea maxlength="300" id="{{form.Descricao.id_for_label}}" name="Descricao"
        class="textarea" style="color: black;" disabled>{{form.Descricao.value|default_if_none:''}}</textarea>
      <!---->
      <!----> <small class="help counter is-invisible">
        0 / 300
      </small></div>
    <!---->
  </div>
  </tr>
</div>
<div class="column is-8 is-offset-2">
  <div class="level">
    <div class="level-left"><a href="{% url "check_not" %}" class="button is-outlined" type="button">
        <!----> <span style="color: black;"> Anterior </span>
        <!----></a></div>

    </form>
  </div>
  </div>
  
    {% endblock content2 %}