<tr class="" scope="row">
    <td data-label="Nome" class="">{% if not.notificacao.idutilizadorenvia == me_id and my %}
        {{not.recept}}
        {% else %}
        {{not.emissor}}
        {% endif %}
    </td>
    <td data-label="Nome" class=""> {{not.notificacao.assunto}}
    </td>
    <td data-label="Nome" class=""> {{not.notificacao.criadoem|date:'d/m/Y H:i'}}

    <td data-label="Ações" class="has-text-centered"">
        <a role="button" href="{% url "noti" not.pk %}"><span class="icon has-text-success"><i
                    {% if not.estado == 1  or not.notificacao.idutilizadorenvia == me_id %}class="mdi mdi-email-open mdi-24px"{% else %}class="mdi mdi-email mdi-24px"{% endif %}></i></span></a>
        <input class="checkbox_extra" type="checkbox" name='noti' value={{not.pk}} style="transform: scale(1.2);"></td>