{% extends "base_template.html" %}
{% load ins_form_tags %}
{% block steps %}
<li><a href="/" class="router-link-active">Início</a></li>
<li class="is-active"><a href="{% url "blog:blog-home" %}"
        class="router-link-exact-active router-link-active">Tarefas</a></li>
{% endblock %}
{% block content %}
            <div data-v-8716d23a="" class="columns">
                <div class="column is-3">
                    <div data-v-1513178e="">
                       <div data-v-1513178e="" class="menu">
                            <p class="" data-v-1513178e="" class="menu-label"></p><p> Filtros Inscrição </p>
                            <ul data-v-1513178e="" class="menu-list"></ul>

                            <!--FILTROS-->
                            <div class="column">
                                <form action="">
                                    <div data-v-1513178e="" class="field">
                                        <!---->
                                        <div data-v-1513178e="" class="autocomplete control">
                                            <div class="control has-icons-left is-clearfix">
                                                <input type="text" id="myInput"  autocomplete="off" 
                                                    placeholder="Tipo de Tarefa" class="input">
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                                <!---->
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                    <div data-v-1513178e="" class="field">
                                        <!---->
                                        <div data-v-1513178e="" class="autocomplete control">
                                            <div class="control has-icons-left is-clearfix">
                                                <input type="text" id="myInput2"  autocomplete="off" 
                                                    placeholder="Atividade" class="input">
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                                <!---->
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                    <div data-v-1513178e="" class="field">
                                        <!---->
                                        <div data-v-1513178e="" class="autocomplete control">
                                            <div class="control has-icons-left is-clearfix">
                                                <input type="date" id="myInput3"  
                                                    autocomplete="off" placeholder="Dia" class="input">
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                    <div data-v-1513178e="" class="field">
                                        <!---->
                                        <div data-v-1513178e="" class="autocomplete control">
                                            <div class="control has-icons-left is-clearfix">
                                                <input type="time" id="myInput4"  
                                                    autocomplete="off" placeholder="Hora" class="input">
                                                <span class="icon is-left">
                                                    <i class="mdi mdi-magnify mdi-24px"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                    <div class="control is-expanded has-icons-left"><span
                                        class="select is-fullwidth is-empty">
                                        <select id="myInput5" placeholder="Estado">
                                            <option hidden value="">
                                                Estado
                                            </option>
                                            <option value=""></option>
                                            <option value="Concluída">Concluída</option>
                                            <option value="Pendente">Pendente</option>
                                        </select>
                                        </span> <span class="icon is-left"><i class="mdi mdi-magnify mdi-24px"></i></span>
                                    </div>
                                    <br>
                                    <div class="field">
                                        <button class="button is-outlined is-link is-danger"  type="submit">
                                            <span>Limpar</span>
                                            <span class="icon is-medium"><i class="mdi mdi-broom"></i></span>
                                        </button>
                                    </div>
                                </form>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <div class="b-table">
                            <div class="field table-mobile-sort">
                                <div class="field has-addons">
                                    <div class="control is-expanded"><span class="select is-fullwidth"><select>
                                                <!---->
                                                <!---->
                                                <option value="[object Object]">
                                                    Tipo de Tarefa
                                                </option>
                                                <option value="[object Object]">
                                                    Atividade
                                                </option>
                                                <option value="[object Object]">
                                                    Dia
                                                </option>
                                                <option value="[object Object]">
                                                    Hora
                                                </option>
                                                <option value="[object Object]">
                                                    Local
                                                </option>
                                                <option value="[object Object]">
                                                    Estado
                                                </option>
                                                <!---->
                                            </select></span>
                                        <!---->
                                    </div>
                                    <div class="control">
                                        <button class="button is-primary">
                                            <span class="icon is-small">
                                                <i class="mdi mdi-menu-up"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="table-wrapper">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <!---->
                                            <th class="is-sortable">
                                                <div class="th-wrap" > Tipo de Tarefa <span class="icon is-small"
                                                    style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <th class="is-sortable">
                                                <div class="th-wrap" > Atividade <span class="icon is-small"
                                                        style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <th class="is-sortable">
                                                <div class="th-wrap"> Dia <span class="icon is-small"
                                                        style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <th class="is-sortable">
                                                <div class="th-wrap"> Hora <span class="icon is-small"
                                                        style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <th class="is-sortable">
                                                <div class="th-wrap"> Local <span class="icon is-small"
                                                        style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <th class="is-sortable">
                                                <div class="th-wrap"> Estado <span class="icon is-small"
                                                        style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <th class="is-sortable">
                                                <div class="th-wrap"> Ações <span class="icon is-small"
                                                        style="display: none;"><i class="mdi mdi-menu-up"></i></span>
                                                </div>
                                            </th>
                                            <!---->
                                        </tr>
                                        <!---->
                                        <!---->
                                    </thead>                                 
                                    <tbody>
                                            {% for tarefa in tarefas %}
                                            {% if tarefa.colab == request.session.user_id %}
                                            <tr draggable="false" class="" scope="row">
                                            <!---->
                                                <td data-label="Tipo de tarefa" class="">
                                                    {% if tarefa.espaco_depois != None %}
                                                        Guiar Grupo
                                                    {% else %}
                                                       Ajudar Docente
                                                    {% endif %} 
                                                </td>
                                                <td data-label="Atividade" class="">
                                                    {{ tarefa.nome_tarefa }}
                                                </td>
                                                <td data-label="Dia" class=""> 
                                                    {{ tarefa.dia | date:"d/m/Y" }}
                                                    {{ tarefa.sessao_dia | date:"d/m/Y" }}
                                                </td>
                                                <td data-label="Hora" class=""> 
                                                    {{  tarefa.hora | time:"H:i" }}
                                                    {{  tarefa.sessao_hora | time:"H:i" }}
                                                </td>    
                                                <td data-label="Local" class=""> 
                                                {% for s in sala %}
                                                    {% if tarefa.id_espaco_depois == s.espaco_idespaco.pk or tarefa.id_atividade_espaco == s.espaco_idespaco.pk %}
                                                        {% if tarefa.espaco_depois != None %}
                                                            Edificio {{s.edificio}}, {{  tarefa.espaco_depois  }}
                                                        {% else %}
                                                            Edificio {{s.edificio}}, {{  tarefa.atividade_espaco  }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                
                
                                                {% for f in anfi %}
                                                    {% if tarefa.id_espaco_depois == f.espaco_idespaco.pk or tarefa.id_atividade_espaco == f.espaco_idespaco.pk %}
                                                        {% if tarefa.espaco_depois != None %}
                                                            Edificio {{f.edificio}}, Anfiteatro {{  tarefa.espaco_depois  }} 
                                                        {% else %}
                                                            Edificio {{f.edificio}}, Anfiteatro {{  tarefa.atividade_espaco  }} 
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                
                
                                                {% for a in ar %}
                                                    {% if tarefa.id_espaco_depois == a.espaco_idespaco.pk or tarefa.id_atividade_espaco == a.espaco_idespaco.pk %}
                                                        {% if tarefa.espaco_depois != None %}
                                                            {{  tarefa.espaco_depois  }} 
                                                        {% else %}
                                                            {{  tarefa.atividade_espaco  }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                </td>                                          
                                                <td data-label="Estado" class=""> 
                                                    <input style="display:none" value="{{ tarefa.id_tarefa }}" id="666"></input>
                                                    {% if tarefa.estado == 1 %}
                                                    <input type="checkbox" style="display:none" id="777" name={{ tarefa.estado }}>
                                                    <span class="tag next is-success" style="width: 7 rem;font-size: small;">Concluido</span>
                                                    {% elif tarefa.estado == 0%}
                                                    <input type="checkbox" style="display:none" id="777" name={{ tarefa.estado }}>
                                                    <span class="tag next is-warning" style="width: 7 rem;font-size: small;">Pendente</span>
                                                    {% endif %}
                                                </td>
                                                <td data-label="Ações" class="has-text-centered">
                                                    <a role="button" data-toggle="modal" data-target="#{{ forloop.counter }}">
                                                        <span class="icon has-text-success"> <i class="mdi mdi-account-search mdi-24px"></i></button></span>
                                                    </a>
                                                </td>                           
                                            </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}  
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                    </tbody>
                                    <!---->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-----BUTTON-->

    {% for tarefa in tarefas %}
    <div tabindex="-1" class="modal fade" id="{{forloop.counter}}" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
        <div class="modal-background"></div>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>                   
                        <form class="well form-horizontal ">
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Tipo de Tarefa</span>
                                </div>
                                <input disabled="" class="form-control bg-light" type="text" value="{{ tarefa.nome_tarefa }}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Coordenador Responsável</span>
                                </div>
                                <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{ tarefa.nome_coordenador }}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Informações do(s) Participante(s)</span>
                                </div>
                                <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="Escola: {{ tarefa.escola }}, Turma: {{ tarefa.turma }}, NºAlunos: {{ tarefa.n_alunos }}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Dia</span>
                                </div>
                                <input disabled="" class="form-control col-sm-4 bg-light" type="text" value="{{ tarefa.dia | date:"d/m/Y" }}{{ tarefa.sessao_dia | date:"d/m/Y" }}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Hora</span>
                                </div>
                                <input disabled="" class="form-control bg-light" type="text" value="{{  tarefa.hora | time:"H:i" }}{{  tarefa.sessao_hora | time:"H:i" }}">
                            </div>
                            {% if tarefa.espaco_antes != None %} 
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Local de Recolha</span>
                                </div>
                                {% for s in sala %}
                                    {% if tarefa.id_espaco_depois == s.espaco_idespaco.pk %}
                                        <input disabled="" class="form-control bg-light" type="text" value="Edificio {{s.edificio}}, {{  tarefa.espaco_antes }} {{  tarefa.campus }}">
                                    {% endif %} 
                                {% endfor %}

                                {% for f in anfi %}
                                    {% if tarefa.id_espaco_depois == f.espaco_idespaco.pk %}
                                        <input disabled="" class="form-control bg-light" type="text" value="Edificio {{f.edificio}}, Anfiteatro {{  tarefa.espaco_antes }} {{  tarefa.campus }}">
                                    {% endif %} 
                                {% endfor %}

                                {% for a in ar %}
                                    {% if tarefa.id_espaco_depois == a.espaco_idespaco.pk %}
                                        <input disabled="" class="form-control bg-light" type="text" value="{{  tarefa.espaco_antes }} {{  tarefa.campus }}">
                                    {% endif %} 
                                {% endfor %}
                            </div>
                            {% endif %} 
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Local de Destino</span>
                                </div>
                                {% for s in sala %}
                                    {% if tarefa.id_espaco_depois == s.espaco_idespaco.pk or tarefa.id_atividade_espaco == s.espaco_idespaco.pk %}
                                        {% if tarefa.espaco_depois != None %}
                                            <input disabled="" class="form-control bg-light" type="text" value="Edificio {{s.edificio}}, {{  tarefa.espaco_depois  }} , {{  tarefa.campus }}">
                                        {% else %}
                                            <input disabled="" class="form-control bg-light" type="text" value="Edificio {{s.edificio}}, {{  tarefa.atividade_espaco  }} , {{  tarefa.atividade_campus }}">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                                {% for f in anfi %}
                                    {% if tarefa.id_espaco_depois == f.espaco_idespaco.pk or tarefa.id_atividade_espaco == f.espaco_idespaco.pk %}
                                        {% if tarefa.espaco_depois != None %}
                                            <input disabled="" class="form-control bg-light" type="text" value="Edificio {{f.edificio}}, Anfiteatro {{  tarefa.espaco_depois  }} , {{  tarefa.campus }}">
                                        {% else %}
                                            <input disabled="" class="form-control bg-light" type="text" value="Edificio {{f.edificio}}, Anfiteatro {{  tarefa.atividade_espaco  }} , {{  tarefa.atividade_campus }}">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                                {% for a in ar %}
                                    {% if tarefa.id_espaco_depois == a.espaco_idespaco.pk or tarefa.id_atividade_espaco == a.espaco_idespaco.pk %}
                                        {% if tarefa.espaco_depois != None %}
                                            <input disabled="" class="form-control bg-light" type="text" value="{{  tarefa.espaco_depois  }} , {{  tarefa.campus }}">
                                        {% else %}
                                            <input disabled="" class="form-control bg-light" type="text" value="{  tarefa.atividade_espaco  }} , {{  tarefa.atividade_campus }}">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br>
                            <div class="form-group col-lg-8" style="text-align:center">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!--FILTRAR-->

    <script>
        var table=0;
        $(document).ready(function () {
            var table=$('#myTable').DataTable({
                "paging": true,
                "info": false, 
                "dom": 'tp',
                "bLengthChange": false,
                "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ],
            });
        $('#myInput').on('keyup', function () {
            console.log($(this).val())
            table.column(0).search($(this).val()).draw();
            if($(this).val()=='')
                $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
            else
                $(this).css({"color":"black"});
        });
        $('#myInput2').on('keyup', function () {
            table.column(1).search($(this).val()).draw();
            if($(this).val()=='')
                $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
            else
                $(this).css({"color":"black"});
        });
        $('#myInput3').on('keyup', function () {
            console.log($(this).val().split("-").reverse().join("-"))
            table.column(2).search($(this).val().split("-").reverse().join("/")).draw();
            if($(this).val()=='')
                $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
            else
                $(this).css({"color":"black"});
        });
        $('#myInput4').on('keyup', function () {
            table.column(3).search($(this).val()).draw();
            if($(this).val()=='')
                $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
            else
                $(this).css({"color":"black"});
        });
        $('#myInput5').on('change', function () {
            table.column(5).search($(this).val()).draw();
            if($(this).val()=='')
                $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
            else
                $(this).css({"color":"black"});
        });
    
        $('#clean').on('click', function () {
            $('#myInput').val('');
            $('#myInput').trigger('keyup');
            $('#myInpu2').val('');
            $('#myInput2').trigger('keyup');
            $('#myInpu3').val('');
            $('#myInput3').trigger('keyup');
            $('#myInpu4').val('');
            $('#myInput4').trigger('keyup');
            $('#myInpu5').val('');
            $('#myInput5').trigger('keyup');
        });
    });
    </script>

<script>
    $(document).ready(function() 
    {
        entry = $("td[data-label='Estado']").click(function(){
        span = $(this).find('span');
        input = $(this).find('#777');
    
        _id = $(this).find('#666').val();
    
        if(input.val() == '1'){
            $.ajax({
                async: true,
                type: "POST",
                url: $('#change').text(),
                data: 
                { 
                    id: _id,
                    valor: 0
                },
                success: function (data) {
                }
            });
            input.val(0);
            span.text("Pendente");
            span.removeClass('is-success');
            span.addClass('is-warning');
        }
        else
        {
            $.ajax({
                async: true,
                type: "POST",
                url: $('#change').text(),
                data: 
                { 
                    id: _id,
                    valor: 1
                },
                success: function (data) {
                }
            });
            input.val(1);
            span.text("Concluido");
            span.removeClass('is-warning');
            span.addClass('is-success');
        }
        });
    });
</script>

<div style="display:none" id="change">
    {% url 'tarefas:mudar_estado' %}
</div>

{% endblock content %}