{% extends "base_template.html" %}
{% load ins_form_tags %}
{% block steps %}
<li><a href="/" class="router-link-active">Início</a></li>
<li class="is-active"><a href="{% url "blog:blog-home" %}"
        class="router-link-exact-active router-link-active">Disponibilidade</a></li>
{% endblock %}
{% block content %}
<div data-v-8716d23a="" class="columns">
    <div class="table-wrapper">
        <form id="regForm" method="POST">
            {% csrf_token %}
            <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <!---->
                        <th class="is-sortable">
                            <div class="th-wrap"> Dia <span class="icon is-small" style="display: none;"><i
                                        class="mdi mdi-menu-up"></i></span>
                            </div>
                        </th>
                        <th class="is-sortable">
                            <div class="th-wrap"> Hora Início <span class="icon is-small" style="display: none;"><i
                                        class="mdi mdi-menu-up"></i></span>
                            </div>
                        </th>
                        <th class="is-sortable">
                            <div class="th-wrap"> Hora Final <span class="icon is-small" style="display: none;"><i
                                        class="mdi mdi-menu-up"></i></span>
                            </div>
                        </th>
                        <th class="is-sortable">
                            <div class="th-wrap"> Tipo Tarefa <span class="icon is-small" style="display: none;"><i
                                        class="mdi mdi-menu-up"></i></span>
                            </div>
                        </th>
                        <!---->
                    </tr>
                    <!---->
                    <!---->
                </thead>
                {{ form.management_form }}
                <tbody id="disponibilidade">
                    {% for disponibilidade in form %}
                    <tr draggable="false" class="" scope="row">
                        <!---->
                        <td data-label="Dia" class="">
                            {{ disponibilidade.dia_dia }}
                        </td>
                        <td data-label="Hora Início" class="">
                            {{ disponibilidade.horario_hora }}
                        </td>
                        <td data-label="Hora Final" class="">
                            {{ disponibilidade.horario_hora1 }}
                        </td>
                        <td data-label="Tipo Tarefa" class="">
                            <select name={{ tipo_tarefa.html_name }} id={{ tipo_tarefa.id_for_label }}>
                                <option value="" selected="">---------</option>

                                <option value="Guiar Grupo">Guiar Grupo</option>

                                <option value="Ajudar Docente">Ajudar Docente</option>

                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </tbody>
                <!---->
            </table>

            <!--TEMPLATE FOR ADD MORE REPONSAVEIS-->
            <table style="display:none">
                <tbody id="template_disponibilidade">
                    <tr draggable="false" class="" scope="row">
                        <!---->
                        <td data-label="Dia" class="">
                            {{form.empty_form.dia_dia}}
                        </td>
                        <td data-label="Hora Início" class="">
                            {{form.empty_form.horario_hora}}
                        </td>
                        <td data-label="Hora Final" class="">
                            {{form.empty_form.horario_hora1}}
                        </td>
                        <td data-label="Tipo Tarefa" class="">
                            <select name="{{ form.empty_form.tipo_tarefa.html_name }}"
                                id="{{ form.empty_form.tipo_tarefa.id_for_label }}">
                                <option value="" selected="">---------</option>

                                <option value="Guiar Grupo">Guiar Grupo</option>

                                <option value="Ajudar Docente">Ajudar Docente</option>

                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--END TEMPLATE-->
            <br>
            <div>
                <input type="submit" style="text-align:center">
            </div>
            <br>
            <button type="button" class="button" onclick="add_responsavel()">
                <span class="icon is-small"><i class="mdi mdi-plus"></i></span>
                <span>Adicionar disponibilidade</span>
            </button>
            <span>
                <button type="button" class="button" style="float:right" onclick="delete_responsavel()">
                    <span class="icon is-small"><i class="mdi mdi-minus"></i></span>
                    <span>Remover disponibilidade</span>
                </button>
            </span>
        </form>
    </div>
</div>


<script>
    function add_responsavel() {
        var value = parseInt($('#id_tarefa-TOTAL_FORMS').val());
        $('#id_tarefa-TOTAL_FORMS').val(value + 1);

        var form_idx = $('#disponibilidade').children().length;
        var template = $('#template_disponibilidade').clone(true);

        $('#disponibilidade').append(template.html().replace(/__prefix__/g, form_idx));
    }

    function delete_responsavel() {
        if ($('#id_tarefa-TOTAL_FORMS').val() > 1) {
            var value = parseInt($('#id_tarefa-TOTAL_FORMS').val());
            $('#id_tarefa-TOTAL_FORMS').val(value - 1);
            $('#disponibilidade').children().last().remove();
        }
    }
</script>

{% endblock content %}