<html>
    <body>
        <form method = 'POST'>
            {% csrf_token %}
            Escola<br>
            {{form.escola}}
            <br><br><br>

            Inscricao<br>
            {{form.inscricao}}
            <br><br><br>

            Responsaveis<br>
            {{form.responsaveis}}
            <br><br><br>
            Almoço<br>
            {% for camp in form.almoco.campus%}
                <br>
                {{camp.nome}}
                <br>
                {% for prato,menu in camp.pratos %}
                    {{prato}} {{menu.tipo}}
                    <br>
                {% endfor %}
            {% endfor %}
            <br><br><br>
            Sessao:<br>
            {{form.sessao}}
            <br><br><br>
             Transportes:<br><br>
            {% for transporte in form.transportes.campus %}
                {{transporte.nome}}<br> {{transporte}}
                    <br><br>
            {% endfor %}
            <br><br><br>
            <input type = "submit">
        </form>
    </body>
</html>

