{% extends 'base_template.html' %}

{% load static %}
{% block steps %}
<li><a href="{% url 'blog:blog-home' %}">Início</a></li>
<li class="is-active"><a href="" aria-current="page">Consultar Menus</a></li>
{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-3">
        <div>
            <p data-v-1513178e="" class="menu-label">Filtros do Menu</p>
            <form method="GET">
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                                <span class="select is-fullwidth is-empty">
                                <select id="myInput">
                                    <option hidden value="">Filtrar por Campus</option>
                                    {% for campus in campus %}
                                    <option  value="{{campus.nome}}">{{campus.nome}}</option>
                                    {% endfor %}
                                </select>
                                </span>
                            </div>
                        </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <span class="select is-fullwidth is-empty">
                                    <select id="myInput1">
                                        <option hidden value="">Filtrar por Data do Almoço</option>
                                        {% for menu in menu %}
                                        <option  value="{{menu.horario_has_dia_id_dia_hora.dia_dia.dia | date:"d/m/Y"}}">{{menu.horario_has_dia_id_dia_hora.dia_dia.dia | date:"d/m/Y"}}</option>
                                        {% endfor %}
                                    </select>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="button is-outlined is-link is-danger" type="submit" style="
                margin-left: 5%;">
                    <span>Limpar</span>
                    <span class="icon is-medium"><i class="mdi mdi-broom"></i></span>
                </button>
         </form>
    </div>
</div>
<div class="column">
        <div class="table ">
            {% if request.session.type == 4 %}
        <a href="{% url "menu:menu_criar" %}" class="button is-success is-outlined" type="button" style="margin-bottom: 0.9rem; margin-right: 1rem;">
           <span class="icon is-small">
               <i class="mdi mdi-plus"></i></span> 
                   <span> Adicionar Menu </span> <!----></a>
                   <a href="{% url "menu:prato_criar" %}" class="button is-success is-outlined" type="button" style="margin-bottom: 0.9rem; margin-right: 1rem;">
                    <span class="icon is-small">
                        <i class="mdi mdi-plus"></i></span> 
                            <span> Adicionar Prato </span> <!----></a>{% endif %}

                  <!---- <div class="field table-mobile-sort">
                     <div class="field has-addons">
                       <div class="control is-expanded">
                         <span class="select is-fullwidth">
                           <select><option value="[object Object]">
                              Escola</option><option value="[object Object]">    
                                Localidade</option><option value="[object Object]">    
                                  Campus</option></select></span> </div> 
                                  <div class="control"><button class="button is-primary">
                                    <span class="icon is-small">
                                      <i class="mdi mdi-menu-up"></i></span></button></div></div></div>-->
            <div class="table-wrapper">
                <table id="myTable" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                            <th>
                                Menu
                            </th>
                            <th>
                                Campus
                            </th>
                            <th>
                                Dia
                            </th>
                            <th>
                                Hora
                            </th>
                            <th>
                                Almoços Disponivel
                            </th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            {% for instance in menu %}
                            
                            <tr>
                                <td>{{instance.menu}}</td>
                                <td>{{instance.campus_idcampus}}</td>
                                <td>{{instance.horario_has_dia_id_dia_hora.dia_dia.dia| date:"d/m/Y"                                }}</td> 
                                <td>{{instance.horario_has_dia_id_dia_hora.horario_hora.hora | time:"H:i" }} </td>
                                <td>{{instance.nralmocosdisponiveis}}</td>
                                <td>
                                    <a data-toggle="modal"
                                    data-target="#{{forloop.counter}}_">
                                        <span class="icon is-small icon has-text-success">
                                            <i class="mdi mdi-account-search mdi-24px"></i>
                                        </span>
                                    </a>
                                    {% if request.session.type == 4 %}
                                    <a href="{% url 'menu:menu_update' instance.idmenu %}">
                                        <span class="icon is-small icon has-text-success">
                                            <i class="mdi mdi-pencil mdi-24px"></i>
                                        </span>
                                    </a>

                                    <a data-toggle="modal"
                                    data-target="#{{forloop.counter}}">
                                        <span class="icon is-small has-text-danger">
                                            <i class="mdi mdi-close-box mdi-24px"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                </td>
                             </tr>
                            {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% for instance in menu %}
<div class="dialog modal" id="{{forloop.counter }}">
    <div class="modal-background"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="modal-card animation" style="max-width:360px">
        <!---->
        <section class="modal-card-body is-titleless">
            <div class="media">
                <!---->
                <div class="media-content">
                    <p>Tem a certeza que quer eliminar o {{instance.menu}}?</p>
                    <!---->
                </div>
            </div>
        </section>
        <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                Cancelar
            </button><a href="{% url 'menu:menu_delete' instance.idmenu %}" style="text-decoration: none;"> <button
                    class="button is-success">
                    Confirmar
                </button></a></footer>
    </div>
</div> 
{% endfor %}
{% for i in menu %}
<div tabindex="-1" class="modal fade" id="{{forloop.counter}}_" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-background"></div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div>    
                    <form class="well form-horizontal ">               
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Sopa e Sobremesa</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{ i.descricao }}">
                        </div>
                        <br>
                        {% for prato in prato %}
                        {% if prato.menu_idmenu.pk == i.pk %}
                        {% if prato.tipo == "Carne" %}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Prato de Carne</span>
                            </div>
                            <span><textarea disabled="" class="form-control col-sm-2 bg-light" style="width: 94%;" type="text" >{{ prato.descricao }}</textarea>
                            <a href="{% url 'menu:prato_update' prato.idprato %}">
                                <span class="icon is-small">
                                    <i class="mdi mdi-tooltip-edit mdi-24px" style="margin-top: 100%;margin-left:50%;"></i>
                                </span> 
                            <a href="{% url 'menu:prato_delete' prato.idprato %}">
                                <span class="icon is-small has-text-danger">
                                    <i class="mdi mdi-delete mdi-24px" style="margin-left:50%;"></i>
                                </span>
                            </a>
                            </span>
                        </div>
                        <br>
                        {% endif %}
                        {% if prato.tipo == "Peixe" %}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Prato de Peixe</span>
                            </div>
                            <textarea disabled="" class="form-control col-sm-2 bg-light" type="text" style="width: 94%;">{{prato.descricao}}</textarea>
                            <a href="{% url 'menu:prato_update' prato.idprato %}">
                                <span class="icon is-small ">
                                    <i class="mdi mdi-tooltip-edit mdi-24px" style="margin-top: 100%;margin-left:50%;"></i>
                                </span>
                            </a>   
                            <a href="{% url 'menu:prato_delete' prato.idprato %}">
                                <span class="icon is-small has-text-danger">
                                    <i class="mdi mdi-delete mdi-24px" style="margin-left:50%;"></i>
                                </span>
                            </a>
                        </div>
                        <br>
                        {% endif %}
                        {% if prato.tipo == "Vegetariano" %}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Prato Vegetariano</span>
                            </div>
                            <textarea disabled="" class="form-control col-sm-2 bg-light" type="text"  style="width: 94%;">{{prato.descricao}}</textarea>
                            <a href="{% url 'menu:prato_update' prato.idprato %}">
                                <span class="icon is-small ">
                                    <i class="mdi mdi-tooltip-edit mdi-24px" style="margin-top: 100%;margin-left:50%;"></i>
                                </span>
                            </a>   
                            <a href="{% url 'menu:prato_delete' prato.idprato %}">
                                <span class="icon is-small has-text-danger">
                                    <i class="mdi mdi-delete mdi-24px" style="margin-left:50%;"></i>
                                </span>
                            </a>
                        </div>
                        <br>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Dia do almoço</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{ i.horario_has_dia_id_dia_hora.dia_dia.dia | date:"d/m/Y" }}">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Hora do Almoço</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{ i.horario_has_dia_id_dia_hora.horario_hora.hora | time:"H:i"}}">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Campus</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{ i.campus_idcampus }}">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Numero de Almoços disponiveis</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{ i.nralmocosdisponiveis }}">
                        </div>
                        <br>
                        {% for preco in preco %}
                        {% if preco.ano == atual %}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Preço do almoço para estudantes</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{preco.preco_almoco_estudante}}€">
                        </div>
                        <br>
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Preço do almoço para professores</span>
                            </div>
                            <input disabled="" class="form-control bg-light" type="text" value="{{preco.preco_almoco_professor}}€">
                        </div>
                        <br>
                        {% endif %}
                        {% endfor %}

                </form></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    var table=0;
    $(document).ready(function () {
        table=$('#myTable').DataTable({
            "paging": true,
            "info": false, 
            "dom": 'tp',
            "bLengthChange": false,
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "columnDefs": [
                { "orderable": false, "targets": 5 }
            ],
        });
    $('#myInput').on('change', function () {
        console.log($(this).val())
        table.column(1).search($(this).val()).draw();
        if($(this).val()=='')
            $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
        else
            $(this).css({"color":"black"});
    });
    $('#myInput1').on('change', function () {
        table.column(2).search($(this).val()).draw();
        if($(this).val()=='')
            $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
        else
            $(this).css({"color":"black"});
    });
    });
</script>


{% endblock content %}