
{% extends 'home.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/transporte">Consultar Transportes</a></li>
    <li class="is-active"><a href="" aria-current="page">Criar Transporte</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
    <form action='.' method='POST'>{% csrf_token %}
    <div class="b-steps">
      <section class="step-content">
          <div class="step-item">
    <div style="padding: 1rem 2vw 0px;">
        <hr><h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;"> Informação do Transporte </h2>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Capacidade:</label>
                     <div class="control is-clearfix">
                        {{form.capacidade}}
              </div>
            </div>
          </div>
        <div class="column">
            <div class="field">
                <label class="label">Identificação</label>
                 <div class="control is-clearfix">
                     {{form.identificacao}}
                    </span> <!----></div> <!---->
                    </div>
                </div>
            
                                          </div>
                                          <hr/>
                                        </div>
                                        </div>  
                                        </div>     
                                        </section>
                                          <div class="column is-8 is-offset-2">
                                              <div class="level">
                                              <div class="level-left">
                                              <a class="button is-outlined" type="button">
                                              <span>Cancelar</span>
                                        </a>

                                        </div>
                                          <div class="level-right">
                                              <input class="button is-large is-success is-outlined is-link" type='submit' value='Proximo'>
                                             </button>
                                             </div>
                                             </div>
                                             </div>
                                             </div>
                                             </form>
                                             </div>
                                               <style>
                                                   .label {
                                                   font-weight: normal;
                                                   }
                                                   .b-steps .steps .step-items .step-item .step-details .step-title {
                                                   font-size: 1rem;
                                                   }

                                               </style>
                                               {% endblock content%}