{% extends 'base_template.html' %}
{% block steps %}
    <li><a href="/">Início</a></li>
    <li class="is-active"><a aria-current="page">Consultar Tarefas</a></li>
{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-3">
        <div>
            <p data-v-1513178e="" class="menu-label">Filtros Tarefa</p>
            <form method="GET">
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <input type="text" id="myInput" placeholder="Filtrar por Nome Tarefa" autocomplete="off" class="input">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                                <span class="select is-fullwidth is-empty">
                                <select id="myInput1">
                                    <option hidden value="">Filtrar por Colaborador</option>
                                    {% for c in colab %}
                                    <option  value="{{c.utilizador_idutilizador.nome}}">{{c.utilizador_idutilizador.nome}}</option>
                                    {% endfor %}
                                </select>
                                </span>
                            </div>
                        </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <span class="select is-fullwidth is-empty">
                                    <select id="myInput2">
                                        <option hidden value="">Filtrar Atividade</option>
                                        {% for a in atividade %}
                                        <option value="{{a.titulo}}">{{a.titulo}}</option>
                                        {% endfor %}
                                    </select>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <span class="select is-fullwidth is-empty">
                                    <select id="myInput3">
                                        <option hidden value="">Filtrar por Estado</option>
                                        <option value="Concluida">Concluida</option>
                                        <option value="Pendente">Pendente</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="button is-outlined is-link is-danger" type="submit">
                    <span>Limpar</span>
                    <span class="icon is-medium"><i class="mdi mdi-broom"></i></span>
                </button>
         </form>
    </div>
</div>
    <div class="column">
        <div class="table "></div>
            <div class="table-wrapper">
                <a href="{% url 'tarefa_coordenador:criar_tarefa' %}" class="button is-success is-outlined" type="button" style="margin-bottom: 0.9rem; margin-right: 1rem;">
                    <span class="icon is-small">
                        <i class="mdi mdi-plus"></i></span> 
                            <span> Criar Tarefa</span></a>
                <table id="myTable" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nome Tarefa:</th>
                            <th>Colaborador:</th>
                            <th>Atividade:</th>
                            <th>Dia:</th>
                            <th>Hora:</th>
                            <th>Estado:</th>
                            <th>Ações:</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for i in tarefas %}
                                <tr scope="row"><td>{{i.nome}}</td>
                                {% if i.colaborador_utilizador_idutilizador == NULL %}
                                    <td class=""> --------------- </td>
                                {% else %}
                                    <td class="">{{i.colaborador_utilizador_idutilizador.utilizador_idutilizador.nome}}</td>
                                {% endif %}
                                {% if i.sessao_idsessao == NULL %}
                                    <td class=""> --------------- </td>
                                    <td class="">{{i.dia_dia.dia | date:"d/m/Y"}}</td>
                                    {% if i.hora_inicio == NULL %}
                                        <td class=""> --------------- </td>
                                    {% else %}
                                        <td class="">{{i.hora_inicio | time:"H:i"}}</td>
                                    {% endif%}
                                {% else %}
                                    <td class="">{{i.sessao_idsessao.atividade_idatividade.titulo}}</td>
                                    <td class="">{{i.sessao_idsessao.horario_has_dia_id_dia_hora.dia_dia.dia | date:"d/m/Y"}}</td> 
                                    <td class="">{{i.sessao_idsessao.horario_has_dia_id_dia_hora.horario_hora.hora | time:"H:i"}}</td>
                                {% endif %}
                                {% if i.concluida == 1%}
                                <td class=""><span class="tag next is-success" style="width: 7 rem;font-size: small;">Concluida</span></td>
                                {% elif i.concluida == 0%}
                                <td class=""><span class="tag next is-warning" style="width: 7 rem;font-size: small;">Pendente</span></td>
                                {% endif %}

                                <form method="POST">
                                <td>
                                   <a data-toggle="modal" data-target="#{{ forloop.counter }}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-account-search mdi-24px icon has-text-success"></i>
                                        </span>
                                    </a>
                                    <a href="{% url 'tarefa_coordenador:editar_tarefa' i.idtarefa %}">
                                        <span class="icon is-small icon has-text-success">
                                            <i class="mdi mdi-pencil mdi-24px"></i>
                                        </span>
                                    </a>
                                        <a data-toggle="modal" data-target="#{{ forloop.counter }}_">
                                            <span class="icon is-small has-text-danger">
                                                <i class="mdi mdi-close-box mdi-24px"></i>
                                            </span>
                                        </a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>

{% for i in tarefas %}
<div class="dialog modal" id="{{forloop.counter}}_">
    <div class="modal-background"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="modal-card animation" style="max-width:10%">
        <!---->
        <section class="modal-card-body is-titleless">
            <div class="media">
                <!---->
                <div class="media-content">
                    <p>Tem a certeza que quer eliminar a tarefa "{{i.nome}}"?</p>
                    <!---->
                </div>
            </div>
        </section>
        <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                Cancelar
            </button><a href="{% url 'tarefa_coordenador:eliminar_tarefa' i.idtarefa %}" style="text-decoration: none;"> <button
                    class="button is-success" type="submit">
                    Confirmar
                </button></a></footer>
    </div>
</div>
</form>
{% endfor %}

{% for i in tarefas %}
<div tabindex="-1"  class="modal fade" id="{{forloop.counter}}" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-background"></div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div>   
                    <form class="well form-horizontal ">              
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Coordenador Responsável</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{ i.coordenador_utilizador_idutilizador.utilizador_idutilizador.nome }}">
                        </div>
                        <br>
                        {% if i.colaborador_utilizador_idutilizador.utilizador_idutilizador == NULL %}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Colaborador Atribuído</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="Nenhum Colaborador Atribuido">
                        </div>
                        {%else%}
                        <div class="input-group col-sm-12">
                            <div class="input-group-prepend labelForm">
                                <span class="input-group-text w-100">Colaborador Atribuído</span>
                            </div>
                            <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{ i.colaborador_utilizador_idutilizador.utilizador_idutilizador.nome }}">
                        </div>
                        {%endif%}
                        {% if i.sessao_idsessao == NULL %}
                            <br>
                            {% if i.idtarefa.inscricao_coletiva_inscricao_idinscricao == NULL %}
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend labelForm">
                                        <span class="input-group-text w-100">Informações do(s) Participante(s)</span>
                                    </div>
                                    <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="Nenhum Grupo Selecionado">
                                </div>
                            {%else%}
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend labelForm">
                                        <span class="input-group-text w-100">Informações do(s) Participante(s)</span>
                                    </div>
                                    <input disabled="" class="form-control col-sm-2 bg-light" type="text" value="{{i.inscricao_coletiva_inscricao_idinscricao.escola_idescola.nome}}, Turma {{i.idtarefa.inscricao_coletiva_inscricao_idinscricao.turma}} ({{i.idtarefa.inscricao_coletiva_inscricao_idinscricao.nparticipantes}} alunos)">
                                </div>
                            {%endif%}
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Horário</span>
                                </div>
                                <input disabled="" class="form-control col-sm-4 bg-light" type="text" value="{{ i.dia_dia.dia | date:"d/m/Y"}} &nbsp;{{  i.hora_inicio | time:"H:i" }}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Campus onde se encontra(m) o(s) Participante(s)</span>
                                </div>
                                <input disabled="" class="form-control bg-light" type="text" value="{{i.buscar.campus_idcampus.nome}}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Local de Recolha do(s) Participante(s)</span>
                                </div>
                                {% for ar in ar %}
                                    {% if ar.espaco_idespaco == i.buscar %}
                                        <input disabled="" class="form-control bg-light" type="text" value="{{ i.buscar.nome }} ({{ar.descricao}})">
                                    {% endif %}
                                {% endfor %}
                                {% for s in sala %}
                                    {% if s.espaco_idespaco == i.buscar %}
                                        <input disabled="" class="form-control bg-light" type="text" value=" Edificio {{s.edificio}}, {{ i.buscar.nome }}">
                                    {% endif %}
                                {% endfor %}
                                {% for a in anfi %}
                                    {% if a.espaco_idespaco == i.buscar %}
                                    <input disabled="" class="form-control bg-light" type="text" value=" Edificio {{a.edificio}}, Anfiteatro {{ i.buscar.nome }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Local de Destino do(s) Participante(s)</span>
                                </div>
                                {% for ar in ar %}
                                    {% if ar.espaco_idespaco == i.levar %}
                                        <input disabled="" class="form-control bg-light" type="text" value="{{ i.levar.nome }} ({{ar.descricao}})">
                                    {% endif %}
                                {% endfor %}
                                {% for s in sala %}
                                    {% if s.espaco_idespaco == i.levar %}
                                    <input disabled="" class="form-control bg-light" type="text" value=" Edificio {{s.edificio}}, {{ i.levar.nome }}">
                                    {% endif %}
                                {% endfor %}
                                {% for a in anfi %}
                                    {% if a.espaco_idespaco == i.levar %}
                                        <input disabled="" class="form-control bg-light" type="text" value=" Edificio {{a.edificio}}, Anfiteatro {{ i.levar.nome }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br>
                        {% else %}
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Horário</span>
                                </div>
                                <input disabled="" class="form-control col-sm-4 bg-light" type="text" value="{{ i.sessao_idsessao.horario_has_dia_id_dia_hora.dia_dia.dia| date:"d/m/Y"}} &nbsp; {{ i.sessao_idsessao.horario_has_dia_id_dia_hora.horario_hora.hora | time:"H:i" }}">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Atividade:</span>
                                </div>
                                <input disabled="" class="form-control bg-light" type="text" value="{{ i.sessao_idsessao.atividade_idatividade.titulo}} ({{ i.sessao_idsessao.atividade_idatividade.espaco_idespaco.campus_idcampus.nome }})">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Local da Atividade:</span>
                                </div>
                                {% for ar in ar %}
                                    {% if ar.espaco_idespaco == i.sessao_idsessao.atividade_idatividade.espaco_idespaco %}
                                        <input disabled="" class="form-control bg-light" type="text" value=" {{i.sessao_idsessao.atividade_idatividade.espaco_idespaco.nome}} ({{ar.descricao}})">
                                    {% endif %}
                                {% endfor %}
                                {% for s in sala %}
                                    {% if s.espaco_idespaco == i.sessao_idsessao.atividade_idatividade.espaco_idespaco %}
                                        <input disabled="" class="form-control bg-light" type="text" value=" Edificio {{s.edificio}}, {{i.sessao_idsessao.atividade_idatividade.espaco_idespaco.nome}}">
                                    {% endif %}
                                {% endfor %}
                                {% for a in anfi %}
                                    {% if a.espaco_idespaco == i.sessao_idsessao.atividade_idatividade.espaco_idespaco %}
                                        <input disabled="" class="form-control bg-light" type="text" value=" Edificio {{a.edificio}}, Anfiteatro {{i.sessao_idsessao.atividade_idatividade.espaco_idespaco.nome}}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Duração da Atividade:</span>
                                </div>
                                <input disabled="" class="form-control bg-light" type="text" value="{{ i.sessao_idsessao.atividade_idatividade.duracao}} minutos">
                            </div>
                            <br>
                            <div class="input-group col-sm-12">
                                <div class="input-group-prepend labelForm">
                                    <span class="input-group-text w-100">Colaboradores Necessários:</span>
                                </div>
                                <input disabled="" class="form-control bg-light" type="text" value="{{ i.sessao_idsessao.atividade_idatividade.nrcolaborador}}">
                            </div>
                            <br>
                        {% endif %} 
                </form></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
               
<script>
    var table=0;
    $(document).ready(function () {
        var table=$('#myTable').DataTable({
            "paging": true,
            "info": false, 
            "dom": 'tp',
            "bLengthChange": false,
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "columnDefs": [
                { "orderable": false, "targets": [5,6] }
            ],
        });
    $('#myInput').on('keyup', function () {
        console.log($(this).val())
        table.column(0).search($(this).val()).draw();
        if($(this).val()=='')
            $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
        else
            $(this).css({"color":"black"});
    });
    $('#myInput1').on('change', function () {
        table.column(1).search($(this).val()).draw();
        if($(this).val()=='')
            $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
        else
            $(this).css({"color":"black"});
    });
    $('#myInput2').on('change', function () {
        table.column(2).search($(this).val()).draw();
        if($(this).val()=='')
            $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
        else
            $(this).css({"color":"black"});
    });
    $('#myInput3').on('change', function () {
        table.column(5).search($(this).val()).draw();
        if($(this).val()=='')
            $(this).css({"color":"hsla(0,0%,47.8%,.7)"});
        else
            $(this).css({"color":"black"});
    });

    $('#clean').on('click', function () {
        $('#myInput').val('');
        $('#myInput').trigger('keyup');
        $('#myInpu2').val('');
        $('#myInput2').trigger('keyup');
        $('#myInpu3').val('');
        $('#myInput3').trigger('keyup');
    });
});
</script>
{% endblock content %}
