{% extends 'base_template.html' %}
{% block steps %}
    <li><a href="/">Início</a></li>
    <li class="is-active"><a aria-current="page">Consultar Tarefas</a></li>
{% endblock %}
{% block content %}
<head>
    <style>
    .select.is-empty select {
     color:black;
    }
    </style>
</head>

<div class="columns">
    <div class="column is-3">
        <div>
            <p data-v-1513178e="" class="menu-label">Filtros Utilizador</p>
            <form method="GET">
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar por Nome Tarefa" autocomplete="off" class="input">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                                <span class="select is-fullwidth is-empty">
                                <select id="myInput3"onchange="myFunction3()">
                                    <option hidden value="">Filtrar por Colaborador</option>
                                    {% for c in colab %}
                                    <option  value="{{c.utilizador_idutilizador.nome}}">{{c.utilizador_idutilizador.nome}}</option>
                                    {% endfor %}
                                </select>
                                </span>
                            </div>
                        </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <span class="select is-fullwidth is-empty">
                                    <select id="myInput4"onchange="myFunction4()">
                                        <option hidden value="">Filtrar Atividade</option>
                                        {% for a in atividade %}
                                        <option value="{{a.titulo}}">{{a.titulo}}</option>
                                        {% endfor %}
                                    </select>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <span class="select is-fullwidth is-empty">
                                    <select id="myInput5"onchange="myFunction5()">
                                        <option hidden value="">Filtrar por Estado</option>
                                        <option value="Concluida">Concluida</option>
                                        <option value="Pendente">Pendente</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="button is-outlined is-link is-danger" type="reset">
                    <span>Limpar</span>
                    <span class="icon is-medium"><i class="mdi mdi-broom"></i></span>
                </button>
         </form>
    </div>
</div>
    <div class="column">
        <div class="table "></div>
            <div class="table-wrapper">
                <table id="myTable" class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nome Tarefa:</th>
                            <th>Colaborador:</th>
                            <th>Atividade:</th>
                            <th>Dia:</th>
                            <th>Hora:</th>
                            <th>Estado:</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for i in tarefas %}
                                <tr scope="row"><td>{{i.nome}}</td>
                                {% if i.colaborador_utilizador_idutilizador == NULL %}
                                    <td class=""> --------------- </td>
                                {% else %}
                                    <td class="">{{i.colaborador_utilizador_idutilizador.utilizador_idutilizador.nome}}</td>
                                {% endif %}
                                {% if i.sessao_idsessao == NULL %}
                                    <td class=""> --------------- </td>
                                    <td class="">{{i.dia_dia.dia}}</td>
                                    {% if i.hora_inicio == NULL %}
                                        <td class=""> --------------- </td>
                                    {% else %}
                                        <td class="">{{i.hora_inicio}}</td>
                                    {% endif%}
                                {% else %}
                                    <td class="">{{i.sessao_idsessao.atividade_idatividade.titulo}}</td>
                                    <td class="">{{i.sessao_idsessao.horario_has_dia_id_dia_hora.dia_dia.dia}}</td> 
                                    <td class="">{{i.sessao_idsessao.horario_has_dia_id_dia_hora.horario_hora.hora}}</td>
                                {% endif %}
                                {% if i.concluida == 1%}
                                <td class=""><span class="tag next is-success" style="width: 7 rem;font-size: small;">Concluida</span></td>
                                {% elif i.concluida == 0%}
                                <td class=""><span class="tag next is-warning" style="width: 7 rem;font-size: small;">Pendente</span></td>
                                {% endif %}

                                <td data-label="Ações" class="">
                                   <a href="{% url 'tarefa_coordenador:mais_info' i.idtarefa %}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-account-search mdi-24px"></i>
                                        </span>
                                    </a>
                                    
                                    <a href="{% url 'tarefa_coordenador:editar_tarefa' i.idtarefa %}">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-pencil mdi-24px"></i>
                                        </span>
                                    </a>
                               
                                    <form method="POST">
                                        <a href="{% url 'tarefa_coordenador:eliminar_tarefa' i.idtarefa %}">
                                            <span class="icon is-small has-text-danger">
                                                <i class="mdi mdi-close-box mdi-24px"></i>
                                            </span>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>

                    
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "columnDefs": [
    { "orderable": false, "targets": [5,6] }
  ]
        });
    });
</script>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
function myFunction3() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput3");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
    function myFunction4() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput4");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
<script>
        function myFunction5() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput5");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[3];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
</script>
{% endblock content %}
