{% extends 'base_template.html' %}
{% block steps %}
<li><a href="/">Início</a></li>
<li><a href="{% url 'tarefa_coordenador:consultar_tarefa' %}">Consultar Tarefa</a></li>
<li><a href="{% url 'tarefa_coordenador:criar_tarefa' %}" aria-current="page">Criar Tarefa - Selecionar Tipo Tarefa</a></li>
<li class="is-active"><a href="" aria-current="page">Criar Tarefa Acompanhar Participantes</a></li>
{% endblock %}
{% block content %}
<div style="padding: 3rem 2vw 1rem;">
  <div class="b-steps">
      <nav class="steps is-success">
          <ul class="step-items">
              <li class="step-item is-success is-active"><a class="step-link">
                      <div class="step-marker"><span class="icon"><i class="mdi mdi-book mdi-24px"></i></span></div>
                      <div class="step-details"><span class="step-title">Criar Tarefa Acompanhar Participantes</span>
                      </div>
                  </a></li>
          </ul>
      </nav>
      <hr>
<div class="ctr">
  <div style="padding: 2vw">
      <form method="POST" id="personForm"> {% csrf_token %}
          <div class="column">
              <div class="field">
                   <label aria-label="breadcrumbs" class="">Nome Tarefa:</label>
              <div class="control">
                   {{form.nome}}
              </div>
              </div>
            </div>
 
          <div class="column">
            <div class="field">
                <label aria-label="breadcrumbs"  class="" id='id_dia_dia_label'>Dia da Tarefa:</label>
                <div class="control">
                    <div class="select is-fullwidth" id='id_dia_dia_seta'>
                        {{form.dia_dia}}
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
          <div class="field">
            <label aria-label="breadcrumbs" class="">Hora Ínicio da Tarefa:</label>
            <div class="control">
              {{form.hora_inicio}}
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label aria-label="breadcrumbs"  class="">Atribuir Colaborador:</label>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select name="{{form.colaborador_utilizador_idutilizador.id_for_label}}" id="{{form.colaborador_utilizador_idutilizador.id_for_label}}">
                  <option value="" selected="">Nenhum Colaborador Atribuido</option>
                  {% for colab in dispo %}
                    <option value="{{colab.colaborador_utilizador_idutilizador.pk}}">{{colab.colaborador_utilizador_idutilizador.utilizador_idutilizador.nome}} (disponível dia {{colab.dia_dia}} das {{colab.horario_hora}} às {{colab.horario_hora1}})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <hr>
        
        <div style="width: 70%; margin-left: -40%;" class=" columns">
          <div style="width: 98%;" class="column is-3">
            <label>Atual Atividade do(s) Participante(s):</label>
            <div style="width: 102%;" class="control">
              <div class="select is-fullwidth">
                {{form.atividade_idatividade}}
              </div>
            </div>
          </div>

          <div style="margin-left: -5%; width: 100%;" class="column">
            <div style="margin-left: 50%; width: 300%;" class="control">
              <label>Selecionar Sessão:</label>
              <div class="select is-fullwidth">
                <select id="idsessao" name="idsession">
                  <option hidden value="">Selecione Atividade</option>
                </select>
              </div>
            </div>
          </div>
          <div style="margin-left: 90%;" class="column">
            <div style="margin-left: -22%; width: 300px;" class="control">
              <label class="">Selecionar Grupo:</label>
              <div class="select is-fullwidth">
                <select id="grupos" name="grupos">
                  <option hidden value="">Selecione Sessão</option>
                </select>
              </div>
            </div>
          </div>
        </div>
<hr>
        <div style="width: 100%; margin-left: -20%;" class="columns">
          <div style="width: 80%;"class="column is-3">
            <label class="">Próxima Atividade do(s) Participante(s):</label>
            <div style="width: 95%;" class="control">
              <div class="select is-fullwidth">
                {{form.campus_levar}}
              </div>
            </div>
          </div>
          <div class="column">
            <div style=" width: 250%;" class="control">
              <label style="width: 200%;" class="">Local Destino do(s) Participante(s):</label>
              <div class="select is-fullwidth">
                <select id="levar" name="levar">
                  <option hidden value="">Selecione Atividade</option>
                </select>
              </div>
            </div>
          </div>
        </div>

          <hr>

          <div class="columns">
            <div class="column is-3">
              <a href="{% url 'tarefa_coordenador:criar_tarefa' %}" class="button is-outlined" type="button">
                <span>Voltar</span>
              </a>
             </div>

             <div style="margin-left: 50%;" class="column"> 
              <button type="button" class="button is-large is-success is-outlined" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
                <span>Submeter</span>
              </button>
              </div>

              <div class="dialog modal" id="exampleModal">
                <div class="modal-background"></div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="modal-card animation" style="max-width:20%">
                    <!---->
                    <section class="modal-card-body is-titleless">
                        <div class="media">
                            <!---->
                            <div class="media-content">
                                <p>Tem a certeza que quer criar a tarefa?</p>
                                <!---->
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot"><button class="button" data-dismiss="modal">
                            Cancelar
                        </button> <button class="button is-success" type="submit">
                            Confirmar
                        </button></footer>
                </div>
            </div>
      </form>
      </div>
    </div>
  </div>
    </section>

  

<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}

.ctr {
  width: 40%;
  right:50%;
  margin-left: 30%;

}
</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_campus_levar").change(function () { // id html (inspecionar)
    var atividadeID = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: "{% url 'tarefa_coordenador:ajax_load_espaco' %}", // url
      method: 'POST',                  // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        'campus': atividadeID       // variavel na views
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#levar").html(data);  // id html form
      }
    });

  });
</script>
<script>
  $("#idsessao").change(function () { // id html (inspecionar)
    var atividadeID = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: "{% url 'tarefa_coordenador:ajax_load_grupo' %}", // url
      method: 'POST',                  // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        'sessao': atividadeID       // variavel na views
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#grupos").html(data);  // id html form
      }
    });

  });
</script>
<script>
  $("#id_atividade_idatividade").change(function () {
    var atividadeID = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: "{% url 'tarefa_coordenador:ajax_load_cities' %}",
      method: 'POST',                  // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        'atividade_idatividade': atividadeID       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#idsessao").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script> 

{% endblock content%}