{% extends 'base_template.html' %}
{% block steps %}
<li><a href="">Início</a></li>
<li><a href="{% url 'tarefa_coordenador:consultar_tarefa' %}">Consultar Tarefas</a></li>
<li class="is-active"><a  aria-current="page">Mais informações de "{{tarefa.nome}}"</a></li>
{% endblock %}
{% block content %}
<div class="table "></div>
<div class="table-wrapper">
    <table class="table has-mobile-cards is-hoverable is-fullwidth">
        <thead>
                <th></th>
                <th></th>
                <tr>
                    <td><b>Titulo:</b></td>
                    <td>{{tarefa.nome}}</td>
                </tr>
                <tr>
                    <td><b>Coordenador Responsável:</b></td>
                    <td>{{tarefa.coordenador_utilizador_idutilizador.utilizador_idutilizador.nome}}</td>
                </tr>
                <tr>
                    <td><b>Colaborador Atribuído:</b></td>
                    <td>{{tarefa.colaborador_utilizador_idutilizador.utilizador_idutilizador.nome}}</td>
                </tr>
                {% if tarefa.sessao_idsessao == NULL %}
                    {% if tarefa.inscricao_coletiva_inscricao_idinscricao == NULL %}
                        <tr>
                            <td><b>Informações do(s) Participante(s):</b></td>
                            <td>Nenhum Grupo Selecionado</td>
                        </tr>
                    {%else%}
                        <tr>
                            <td><b>Informações do(s) Participante(s):</b></td>
                            <td>{{tarefa.inscricao_coletiva_inscricao_idinscricao.escola_idescola.nome}}, Turma {{tarefa.inscricao_coletiva_inscricao_idinscricao.turma}} ({{tarefa.inscricao_coletiva_inscricao_idinscricao.nparticipantes}} alunos)</td>
                        </tr>
                    {%endif%}
                    <tr>
                        <td><b>Horário:</b></td>
                        <td>{{tarefa.dia_dia.dia}} &nbsp; {{tarefa.hora_inicio}}</td>
                    </tr>
                    <tr>
                        <td><b>Campus onde se encontra(m) o(s) Participante(s):</b></td>
                        <td>{{tarefa.buscar.campus_idcampus.nome}}</td>
                    </tr>
                    <tr>
                        <td><b>Local Recolha do(s) Participante(s):</b></td>
                        <td>{{tarefa.buscar.nome}}</td>
                    </tr>
                    <tr>
                        <td><b>Local Destino do(s) Participante(s):</b></td>
                        <td>{{tarefa.levar.nome}} </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><b>Horário:</b></td>
                        <td>{{tarefa.sessao_idsessao.horario_has_dia_id_dia_hora.dia_dia.dia}} &nbsp;{{tarefa.sessao_idsessao.horario_has_dia_id_dia_hora.horario_hora.hora}}</td>
                    </tr>
                    <tr>
                        <td><b>Atividade:</b></td>
                        <td>{{tarefa.sessao_idsessao.atividade_idatividade.titulo}}</td>
                    </tr>
                    <tr>
                        <td><b>Campus da Atividade:</b></td>
                        <td>{{tarefa.sessao_idsessao.atividade_idatividade.espaco_idespaco.campus_idcampus.nome}}</td>
                    </tr>
                    <tr>
                        <td><b>Local da Atividade:</b></td>
                        <td>{{tarefa.sessao_idsessao.atividade_idatividade.espaco_idespaco.nome}}</td>
                    </tr>
                    <tr>
                        <td><b>Duração da Atividade:</b></td>
                        <td> {{tarefa.sessao_idsessao.atividade_idatividade.duracao}} minutos</td>
                    </tr>
                    <tr>
                        <td><b>Colaboradores Necessários:</b></td>
                        <td>{{tarefa.sessao_idsessao.atividade_idatividade.nrcolaborador}}</td>
                    </tr>
                {%endif%}
                <tr>
                    <td><b>Estado:</b></td>
                    {% if tarefa.concluida == 1%}
                    <td><span class="tag next is-success" style="width: 7 rem;font-size: small;">Concluída</span></td>
                    {% elif tarefa.concluida == 0%}
                    <td><span class="tag next is-warning" style="width: 7 rem;font-size: small;">Pendente</span></td>
                    {% endif %}
                </tr>
            </thead>
            </table>

                <a href="{% url 'tarefa_coordenador:consultar_tarefa' %}" class="button is-outlined" type="button">
                    <span>Voltar</span>
                  </a>
               
{% endblock content %}