<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('.save-button').on('click', function () {
        window.alert($(this).id);
            // Now the div itself as an object is $(this)
        $(this).next("input").val("test");
    });
})
    </script>
    <body>
        <button type = "submit" class="save-button" id="save-button">Sub</button>
        <p>sfdlsflkj</p>
        <input type="text" value="skjdfh">
        </form>
    </body>
</html>

